<!-- Hidden engagement section -->

<div hidden>
  <% @engagement_products.each do |product| %>
    <div id="my-lightbox-<%= product.id %>" class="product-card engagement-featherlight">
      <div class="categorie-item">
        <div class="ci-thumb" style="background-image: url(<%= product.photo_url %>)">
        </div>
        <div class="product-card-content small-font align-center">
          <div class="ci-text">
            <div class="overflow" style="text-align:left;">
              <% if I18n.locale == :fr %>
                <h3 class=""><%= product.name_fr ? product.name_fr : product.name_en  %></h3>
                <p class="product-card-content-margin"><%= product.description_fr.nil? ? simple_format(product.description_en) : simple_format(product.description_fr) %></p>
              <% elsif I18n.locale == :de %>
                <h3 class=""><%= product.name_en %></h3>
                <p class="product-card-content-margin"><%= product.description_de.nil? ? simple_format(product.description_en) : simple_format(product.description_de) %></p>
              <% elsif I18n.locale == :nl %>
                <h3 class=""><%= product.name_nl ? product.name_nl : product.name_en %></h3>
                <p class="product-card-content-margin"><%= product.description_nl.nil? ? simple_format(product.description_en) : simple_format(product.description_nl) %></p>
              <% else%>
                <h3 class=""><%= product.name_en %></h3>
                <p class="product-card-content-margin"><%= simple_format(product.description_en) %></p>
              <% end %>
            </div>
<!--             <div class="align-center">
              <button id="get-in-touch" class="small product-card-button next-product-card" ><%#= t('solutions.engagement.products.request') %></button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- Hidden communication section -->
<div hidden>
  <% @communication_products.each do |product| %>
    <div id="my-lightbox-<%= product.id %>" class="product-card">
      <div class="categorie-item">
        <div class="ci-thumb" style="background-image: url(<%= product.photo_url %>)">
        </div>
        <div class="product-card-content small-font align-center">
          <div class="ci-text">
            <div>
              <% if I18n.locale == :fr %>
                <h3 class=""><%= product.name_fr ? product.name_fr : product.name_en  %></h3>
                <p class="product-card-content-margin"><%= product.description_fr.nil? ? simple_format(product.description_en) : simple_format(product.description_fr) %></p>
              <% elsif I18n.locale == :de %>
                <h3 class=""><%= product.name_en %></h3>
                <p class="product-card-content-margin"><%= product.description_de.nil? ? simple_format(product.description_en) : simple_format(product.description_de) %></p>
              <% elsif I18n.locale == :nl %>
                <h3 class=""><%= product.name_nl ? product.name_nl : product.name_en %></h3>
                <p class="product-card-content-margin"><%= product.description_nl.nil? ? simple_format(product.description_en) : simple_format(product.description_nl) %></p>
              <% else%>
                <h3 class=""><%= product.name_en %></h3>
                <p class="product-card-content-margin"><%= simple_format(product.description_en) %></p>
              <% end %>
            </div>
<!--             <div class="align-center">
              <button id="get-in-touch" class="small product-card-button next-product-card" ><%#= t('solutions.engagement.products.request') %></button>
            </div> -->
          </div>
          <% if product.name_en == "Presenting with Impact" %>
            <div style="display: flex; justify-content: flex-end;">
              <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1586939151/saq.png", :alt => "image", :class => "", :style => "height: 200px;") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<!-- Hidden languages section -->

<div hidden>
  <% @languages_products.each do |product| %>
    <div id="my-lightbox-<%= product.id %>" class="product-card">
      <div class="categorie-item">
        <div class="ci-thumb" style="background-image: url(<%= product.photo_url %>)">        </div>
        <div class="product-card-content small-font align-center">
          <div class="ci-text">
            <div>
              <% if I18n.locale == :fr %>
                <h3 class=""><%= product.name_fr ? product.name_fr : product.name_en  %></h3>
                <p class="product-card-content-margin"><%= product.description_fr.nil? ? simple_format(product.description_en) : simple_format(product.description_fr) %></p>
              <% elsif I18n.locale == :de %>
                <h3 class=""><%= product.name_en %></h3>
                <p class="product-card-content-margin"><%= product.description_de.nil? ? simple_format(product.description_en) : simple_format(product.description_de) %></p>
              <% elsif I18n.locale == :nl %>
                <h3 class=""><%= product.name_nl ? product.name_nl : product.name_en %></h3>
                <p class="product-card-content-margin"><%= product.description_nl.nil? ? simple_format(product.description_en) : simple_format(product.description_nl) %></p>
              <% else%>
                <h3 class=""><%= product.name_en %></h3>
                <p class="product-card-content-margin"><%= simple_format(product.description_en) %></p>
              <% end %>
            </div>
<!--             <div class="align-center">
              <button id="get-in-touch" class="small product-card-button next-product-card" ><%#= t('solutions.engagement.products.request') %></button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
