<!-- Hidden engagement section -->

<div hidden>
  <% @engagement_products.each do |product| %>
    <div id="my-lightbox-<%= product.id %>" class="product-card engagement-featherlight">
      <div class="categorie-item">
        <div class="ci-thumb">
          <%= cl_image_tag product.photo, crop: :fill, :class => "lightbox-product-image center-picture" %>
        </div>
        <div class="product-card-content small-font align-center">
          <div class="ci-text">
            <div class="overflow">
              <% if I18n.locale == :fr %>
                <h3 class=""><%= product.name_fr %></h3>
                <p class="product-card-content-margin"><%= product.description_fr %></p>
              <% elsif I18n.locale == :de %>
                <h3 class=""><%= product.name %></h3>
                <p class="product-card-content-margin"><%= product.description %></p>
              <% elsif I18n.locale == :nl %>
                <h3 class=""><%= product.name %></h3>
                <p class="product-card-content-margin"><%= product.description %></p>
              <% else%>
                <h3 class=""><%= product.name %></h3>
                <p class="product-card-content-margin"><%= product.description %></p>
              <% end %>
            </div>
<!--             <div class="align-center">
              <button id="get-in-touch" class="small product-card-button next-product-card" ><%#= t('solutions.engagement.products.request') %></button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- Hidden communication section -->
<div hidden>
  <% @communication_products.each do |product| %>
    <div id="my-lightbox-<%= product.id %>" class="product-card">
      <div class="categorie-item">
        <div class="ci-thumb">
          <%= cl_image_tag product.photo, crop: :fill, :class => "product-image center-picture" %>
        </div>
        <div class="product-card-content small-font align-center">
          <div class="ci-text">
            <div>
              <% if I18n.locale == :fr %>
                <h3 class=""><%= product.name_fr %></h3>
                <p class="product-card-content-margin"><%= product.description_fr %></p>
              <% elsif I18n.locale == :de %>
                <h3 class=""><%= product.name %></h3>
                <p class="product-card-content-margin"><%= product.description %></p>
              <% elsif I18n.locale == :nl %>
                <h3 class=""><%= product.name %></h3>
                <p class="product-card-content-margin"><%= product.description %></p>
              <% else%>
                <h3 class=""><%= product.name %></h3>
                <p class="product-card-content-margin"><%= product.description %></p>
              <% end %>
            </div>
<!--             <div class="align-center">
              <button id="get-in-touch" class="small product-card-button next-product-card" ><%#= t('solutions.engagement.products.request') %></button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<!-- Hidden languages section -->

<div hidden>
  <% @languages_products.each do |product| %>
    <div id="my-lightbox-<%= product.id %>" class="product-card">
      <div class="categorie-item">
        <div class="ci-thumb">
          <%= cl_image_tag product.photo, crop: :fill, :class => "lightbox-product-image-languages center-picture" %>
        </div>
        <div class="product-card-content small-font align-center">
          <div class="ci-text">
            <div>
              <% if I18n.locale == :fr %>
                <h3 class=""><%= product.name_fr %></h3>
                <p class="product-card-content-margin"><%= product.description_fr %></p>
              <% elsif I18n.locale == :de %>
                <h3 class=""><%= product.name %></h3>
                <p class="product-card-content-margin"><%= product.description %></p>
              <% elsif I18n.locale == :nl %>
                <h3 class=""><%= product.name %></h3>
                <p class="product-card-content-margin"><%= product.description %></p>
              <% else%>
                <h3 class=""><%= product.name %></h3>
                <p class="product-card-content-margin"><%= product.description %></p>
              <% end %>
            </div>
<!--             <div class="align-center">
              <button id="get-in-touch" class="small product-card-button next-product-card" ><%#= t('solutions.engagement.products.request') %></button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
