<!-- Hidden engagement section -->

<div hidden>
  <% @engagement_products.each do |product| %>
    <div id="my-lightbox-<%= product.id %>" class="product-card engagement-featherlight">
      <div class="categorie-item">
        <div class="ci-thumb">
          <%= cl_image_tag product.photo, crop: :fill, :class => "product-image" %>
        </div>
        <div class="product-card-content small-font align-center">
          <div class="ci-text">
            <div>
              <h3><%= product.name %></h3>
              <p class="product-card-content-margin"><%= product.description %></p>
            </div>
            <div class="align-center">
              <button id="get-in-touch" class="small product-card-button next-product-card" ><%= t('solutions.engagement.products.request') %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- Hidden communication section -->
<div hidden>
  <% @communication_products.each do |product| %>
    <div id="my-lightbox-<%= product.id %>" class="product-card">
      <div class="categorie-item">
        <div class="ci-thumb">
          <%= cl_image_tag product.photo, crop: :fill, :class => "product-image" %>
        </div>
        <div class="product-card-content small-font align-center">
          <div class="ci-text">
            <div>
              <h3><%= product.name %></h3>
              <p class="product-card-content-margin"><%= product.description %></p>
            </div>
            <div class="align-center">
              <button id="get-in-touch" class="small product-card-button next-product-card" ><%= t('solutions.engagement.products.request') %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<!-- Hidden languages section -->

<div hidden>
  <% @languages_products.each do |product| %>
    <div id="my-lightbox-<%= product.id %>" class="product-card">
      <div class="categorie-item">
        <div class="ci-thumb">
          <%= cl_image_tag product.photo, crop: :fill, :class => "product-image" %>
        </div>
        <div class="product-card-content small-font align-center">
          <div class="ci-text">
            <div>
              <h3><%= product.name %></h3>
              <p class="product-card-content-margin"><%= product.description %></p>
            </div>
            <div class="align-center">
              <button id="get-in-touch" class="small product-card-button next-product-card" ><%= t('solutions.engagement.products.request') %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
