<section class="banner style1 orient-right content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <%= link_to "I want a free demo", contact_path, :class => "button primary" %>
    <h2 class="margin-top"><%= t('eval.title') %></h2>
    <h3 class="green-text"><%= t('eval.subtitle') %></h3>
    <h3><%= t('eval.paragraph_one.title') %></h3>
    <p class="align-justify">
      <ul>
        <li><%= t('eval.paragraph_one.bullet_one') %></li>
        <li><%= t('eval.paragraph_one.bullet_two') %></li>
        <li><%= t('eval.paragraph_one.bullet_three') %></li>
        <li><%= t('eval.paragraph_one.bullet_four') %></li>
      </ul>
    </p>
    <h3><%= t('eval.paragraph_two.title') %></h3>
    <p class="align-justify">
      <ul>
        <li><%= t('eval.paragraph_two.bullet_one') %></li>
        <li><%= t('eval.paragraph_two.bullet_two') %><strong><%= t('eval.paragraph_two.bullet_two_strong') %></strong></li>
      </ul>
    </p>
    <ul class="actions stacked">
      <li><a href="#value-one-anchor" class="button large wide smooth-scroll"><%= t('eval.button') %></a></li>
    </ul>
  </div>
  <div class="image">
    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1613405438/linkedin-sales-navigator-hrhjn6ZTgrM-unsplash.jpg", :alt => "image") %>
  </div>
</section>

<div id="value-one-anchor" class="value-one-anchor"></div>
<!-- Spotlight -->
<section id="value-one" class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in onload-content-fade-right" id="first">
  <div class="content">
    <h3><%= t('eval.paragraph_three.title') %></h3>
    <p class="align-justify"><%= t('eval.paragraph_three.text_one') %></br>
        <%= t('eval.paragraph_three.text_two') %>
    </p>
    <h3><%= t('eval.paragraph_four.title') %></h3>
    <p class="align-justify">
      <ul>
        <li><%= t('eval.paragraph_four.bullet_one') %></li>
        <li><%= t('eval.paragraph_four.bullet_two') %></li>
      </ul>
    </p>
    <p class="align-justify">
      <ul>
        <li><%= t('eval.paragraph_four.bullet_three') %>
          <ul>
            <li><%= t('eval.paragraph_four.bullet_three_a') %></li>
            <li><%= t('eval.paragraph_four.bullet_three_b') %></li>
          </ul>
        </li>
        <li><%= t('eval.paragraph_four.bullet_four') %></li>
      </ul>
    </p>
    <h3><%= t('eval.paragraph_five.title') %></h3>
    <p class="align-justify">
      <%= t('eval.paragraph_five.text_one') %>
    </p>
  </div>
  <div class="image">

    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1612360635/evalution1.jpg", :alt => "image") %>
  </div>
</section>

<div id="value-two-anchor" class="value-two-anchor"></div>
<!-- Spotlight -->
<section id="value-two" class="spotlight style1 orient-right content-align-left image-position-center  onscroll-image-fade-in onscroll-content-fade-left" id="first">
  <div class="content">
    <h3><%= t('eval.paragraph_six.title') %></h3>
    <p class="align-justify">
      <%= t('eval.paragraph_six.text_one') %>
    </p>
    <h3><%= t('eval.paragraph_seven.title') %></h3>
    <p class="align-justify">
      <strong><%= t('eval.paragraph_seven.text_one_strong') %></strong>
      <%= t('eval.paragraph_seven.text_one') %>
    </p>
    <h3><%= t('eval.paragraph_eight.title') %></h3>
    <p class="align-justify">
      <%= t('eval.paragraph_eight.text_one') %>
    </p>
  </div>
  <div class="image">

    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1612360634/evaluation7.jpg", :alt => "image") %>
  </div>
</section>

<div id="value-three-anchor" class="value-three-anchor"></div>
  <!-- Spotlight -->
<section id="value-three" class="spotlight style1 orient-left content-align-left image-position-center  onscroll-image-fade-in onscroll-content-fade-right" id="first">
  <div class="content" style="text-align: center;">
    <h2><%= t('eval.eval_footer.title') %></h2>
    <p><%= t('eval.eval_footer.text_one') %><a href="https://www.coe.int/en/web/common-european-framework-reference-languages/level-descriptions" target=_blank>link</a></br>
    <%= t('eval.eval_footer.text_two') %></p>
    <%= link_to contact_path, :class => "button large wide", :target => "_blank" do %>
      <%= t('eval.eval_footer.contact_us') %>
    <% end %>
  </div>
  <div class="image">
    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1612360643/evaluatio2.jpg", :alt => "image") %>
  </div>
</section>
  <%= render 'shared/about/location' %>
