<!-- Banner -->
  <section class="banner style5 orient-left content-align-center image-position-center fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">

      <!-- Keep on learning -->
<!--       <h3>Keep on learning!</h3> -->
<!--       <h3><%#= t('solutions.communication.spotlight.online_text') %></h3>
      <ul class="actions stacked text-align-center">
        <li>
          <%#= link_to t('solutions.communication.spotlight.contact_button'), contact_path, :class => "button primary" %>
        </li>
      </ul> -->
      <!-- end -->
      <!-- Discover our events -->
      <div class="owl-carousel banner-home-carousel">
        <section>
          <h2><%= t("welcome.banner.title_2").upcase %></h2>
          </br>
          <h3><%= t("welcome.banner.sentence_2") %></h3>
          <ul class="actions stacked text-align-center">
            <li>
              <%= link_to t('welcome.banner.button_2'), summer_class_path, :class => "button primary" %>
            </li>
          </ul>
        </section>
        <section>
          <h2><%= t("welcome.banner.title_1").upcase %></h2>
          </br>
          <h3><%= t("welcome.banner.sentence_1") %></h3>
          <ul class="actions stacked text-align-center">
            <li>
              <%= link_to t('welcome.banner.button_1'), solutions_path, :class => "button primary" %>
            </li>
          </ul>
        </section>
         <section>
          <h2><%= t("welcome.banner.title_3").upcase %></h2>
          </br>
          <h3><%= t("welcome.banner.sentence_3") %></h3>
          <ul class="actions stacked text-align-center">
            <li>
              <%= link_to t('welcome.banner.button_3'), eval_path, :class => "button primary" %>
            </li>
          </ul>
        </section>

      </div>
      <!-- end -->
      <div class="chevron-container">
        <a href="#yourworld-anchor" class="smooth-scroll chevron-holder chevron-banner">
          <i class="fas fa-chevron-down"></i>
        </a>
      </div>
    </div>
    <div class="image">
      <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1561640681/people1.jpg", :alt => "image") %>
    </div>
  </section>
