<!-- Banner -->
  <section class="banner style5 orient-left content-align-center image-position-center fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <!-- <h1><span class="atolo-green">A</span>TOLO</h1> -->
      <h2><%= t("welcome.banner.engagement_caption") %></h2>
      <!-- <p>Hellloooo this is atolo</p> -->
<!--       <a href="#first" class="icon style2"><i class="fas fa-arrow-down"></i></a> -->
      </br>
      <h3><%= t("welcome.banner.subtitle") %></h3>
      <h4><%= t("welcome.banner.subtitle_two_a") %></h4>
      <h4><%= t("welcome.banner.subtitle_two_b") %></h4>
      <ul class="actions stacked text-align-center">
        <li>
          <%= link_to t('welcome.banner.call_to_action'), promotions_path, :class => "button primary" %>
        </li>
      </ul>
      <div class="chevron-container">
        <a href="#yourworld-anchor" class="smooth-scroll chevron-holder chevron-banner">
          <i class="fas fa-chevron-down"></i>
        </a>
      </div>
    </div>
    <div class="image">
      <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1561640681/people1.jpg", :alt => "image") %>
    </div>
  </section>
