<!-- Items -->
  <div id="testimonials-anchor" class="testimonials-anchor"></div>
  <section id="testimonials" class="wrapper style1 align-center">
    <div class="inner">
      <h2>Testimonials</h2>
      <div class="owl-carousel owl-theme testimonial-cards onload-fade-in">
          <section class="testimonial-card">
            <%= image_tag("logos/axaassistance.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('welcome.testimonials.name_one') %></h3>
            <h4><%= t('welcome.testimonials.company_one') %></h4>
            <p class="small-font">"<%= t('welcome.testimonials.content_one') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("logos/axaassistance.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('welcome.testimonials.name_one') %></h3>
            <h4><%= t('welcome.testimonials.company_one') %></h4>
            <p class="small-font">"<%= t('welcome.testimonials.content_one') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("logos/axaassistance.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('welcome.testimonials.name_one') %></h3>
            <h4><%= t('welcome.testimonials.company_one') %></h4>
            <p class="small-font">"<%= t('welcome.testimonials.content_one') %>"</p>
          </section>
      </div>
    </div>
  </section>

