<!-- Your world -->
  <div id="yourworld-anchor" class="yourworld-anchor"></div>
  <section id="yourworld" class="wrapper style1 align-center">
    <div class="inner">
      <h2><%= t("welcome.intro.title") %></h2>
      <div>
        <div class="align-center yourworld-intro">
          <p class=""><%= t("welcome.intro.text_one") %><br><%= t("welcome.intro.text_two") %></p>
        </div>
      </div>


      <div id="yourworld-desktop" class="items style3 medium onscroll-fade-in">

        <div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front card-one">
                <div class="card-position">
                  <h3 style="opacity: 0;">l</h3>
                  <h2><%= t("welcome.intro.cards.engagement_title") %></h2>
                  <h3><%= t("welcome.intro.cards.engagement_sub_title") %></h3>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="card-back-container">
                  <div>
                    <h3><%= t("welcome.intro.cards.engagement_title") %></h3>
                    <p class="x-small-font"><%= t("welcome.intro.cards.engagement_content") %></p>
                  </div>
                  <div>
                    <%= link_to solutions_path(:anchor => 'engagement-solutions'), :class => "button primary small" do %>
                      <%= t("welcome.intro.cards.learn_more") %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front card-two">
                <div class="card-position">
                  <h2><%= t("welcome.intro.cards.communication_title") %></h2>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="card-back-container">
                  <div>
                    <h3><%= t("welcome.intro.cards.communication_title") %></h3>
                    <p class="x-small-font"><%= t("welcome.intro.cards.communication_content") %></p>
                  </div>
                  <div>
                    <%= link_to solutions_path(:anchor => 'communication-solutions'), :class => "button primary small" do %>
                      <%= t("welcome.intro.cards.learn_more") %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front card-three">
                <div class="card-position">
                  <h2><%= t("welcome.intro.cards.languages_title") %></h2>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="card-back-container">
                  <div>
                    <h3><%= t("welcome.intro.cards.languages_title") %></h3>
                    <p class="x-small-font"><%= t("welcome.intro.cards.languages_content") %></p>
                  </div>
                  <div>
                    <%= link_to solutions_path(:anchor => 'languages-solutions'), :class => "button primary small" do %>
                      <%= t("welcome.intro.cards.learn_more") %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="yourworld-mobile" class="items style3 medium onscroll-fade-in">

        <div>
          <%= link_to solutions_path(:anchor => 'engagement-solutions') do %>
            <div class="flip-card">
              <div class="flip-card-front card-one">
                <div class="card-position">
                  <h2><%= t("welcome.intro.cards.engagement_title") %></h2>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div>
          <%= link_to solutions_path(:anchor => 'communication-solutions') do %>
            <div class="flip-card">
              <div class="flip-card-front card-two">
                <div class="card-position">
                  <h2><%= t("welcome.intro.cards.communication_title") %></h2>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div>
          <%= link_to solutions_path(:anchor => 'languages-solutions') do %>
            <div class="flip-card">
              <div class="flip-card-front card-three">
                <div class="card-position">
                  <h2><%= t("welcome.intro.cards.languages_title") %></h2>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>



      <div class="chevron-container">
        <a href="#testimonials-anchor" class="smooth-scroll chevron-holder chevron-grey">
        <i class="fas fa-chevron-down"></i>
        </a>
      </div>
    </div>

  </section>
