<section class="container">
  <div class="first-section">
    <div class="image">
    <%= image_tag("about_values.png", :alt => "image") %>
    </div>
    <div class="content">
      <h2 class="margin-top"><%= Title.find_by_unique_key("values_title")&.translate(locale) %></h2>
      <p class="align-justify"><%= Title.find_by_unique_key("values_introduction")&.translate(locale) %></p>
      <ul class="actions stacked">
        <li><a href="#value-one-anchor" class="regular"><span><%= Title.find_by_unique_key("values_discover_btn")&.translate(locale) %> <%= image_tag 'icons/arrow-down-circle.svg' %></span></a></li>
      </ul>
    </div>
  </div>
</section>



<div id="value-one-anchor" class="value-one-anchor"></div>
<!-- Spotlight -->
<section id="value-one" class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in onload-content-fade-right">
  <div class="content">
    <h2><%= Title.find_by_unique_key("values_driven_by_people_title")&.translate(locale) %></h2>
    <p class="align-justify"><%= Title.find_by_unique_key("values_driven_by_people_description")&.translate(locale) %></p>
  </div>
  <div class="image">

    <%= image_tag("about_driven_by_people.png", :alt => "image") %>
  </div>
</section>

<div id="value-two-anchor" class="value-two-anchor"></div>
<!-- Spotlight -->
<section id="value-two" class="spotlight style1 orient-right content-align-left image-position-center  onscroll-image-fade-in onscroll-content-fade-left">
  <div class="content">
    <h2><%= Title.find_by_unique_key("values_committed_to_impact_title")&.translate(locale) %></h2>
    <p class="align-justify"><%= Title.find_by_unique_key("values_committed_to_impact_description")&.translate(locale) %></p>
  </div>
  <div class="image">
    <%= image_tag("about_committed_to_impact.png", :alt => "image") %>
  </div>
</section>

<div id="value-three-anchor" class="value-three-anchor"></div>
  <!-- Spotlight -->
<section id="value-three" class="spotlight style1 orient-left content-align-left image-position-center  onscroll-image-fade-in onscroll-content-fade-right">
  <div class="content">
    <h2><%= Title.find_by_unique_key("values_dedicated_to_growth_title")&.translate(locale) %></h2>
    <p class="align-justify"><%= Title.find_by_unique_key("values_dedicated_to_growth_description")&.translate(locale) %></p>
  </div>
  <div class="image">

    <%= image_tag("about_dedicated_to_growth.png", :alt => "image") %>
  </div>
</section>

<div id="value-four-anchor" class="value-two-anchor"></div>
<!-- Spotlight -->
<section id="value-four" class="spotlight style1 orient-right content-align-left image-position-center  onscroll-image-fade-in onscroll-content-fade-left">
  <div class="content">
    <h2><%= Title.find_by_unique_key("values_pro_bono_title")&.translate(locale) %></h2>
    <p class="align-justify"><%= Title.find_by_unique_key("values_pro_bono_description")&.translate(locale) %></p>
  </div>
  <div class="image">
    <%= image_tag("about_pro_bono.png", :alt => "image") %>
  </div>
</section>

<div class="contact-banner">
  <div class="contact-us-text">
    <%= Title.find_by_unique_key("shared_curious_to_know_more")&.translate(locale) %>
  </div>
  <%= link_to contact_path, class:"contact-us-btn" do %>
    <%= Title.find_by_unique_key("shared_btn_contact_us")&.translate(locale) %>
    <%= render 'shared/svg/arrow-right-circle' %>
  <% end %>
</div>
