<section class="banner style1 orient-right content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <h2 class="margin-top"><%= t('values.introduction_title') %></h2>
    <p class="major small-font  align-justify"><%= t('values.introduction_text') %></p>
    <ul class="actions stacked">
      <li><a href="#value-one-anchor" class="button large wide smooth-scroll"><%= t('values.discover') %></a></li>
    </ul>
  </div>
  <div class="image">
    <%#= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473839/people11.jpg", :alt => "image") %>
    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1561639310/Atolo-46.jpg", :alt => "image") %>
  </div>
</section>

<div id="value-one-anchor" class="value-one-anchor"></div>
<!-- Spotlight -->
<section id="value-one" class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in onload-content-fade-right" id="first">
  <div class="content">
    <h2><%= t('values.value_one.title') %></h2>
    <p class="align-justify"><%= t('values.value_one.content') %></p>
    <ul class="actions stacked text-align-center">
      <li>
        <div class="chevron-container">
          <a href="#value-two-anchor" class="smooth-scroll chevron-holder chevron-grey">
          <i class="fas fa-chevron-down"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="image">

    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1569150484/value_nine.jpg", :alt => "image") %>
  </div>
</section>

<div id="value-two-anchor" class="value-two-anchor"></div>
<!-- Spotlight -->
<section id="value-two" class="spotlight style1 orient-right content-align-left image-position-center  onscroll-image-fade-in onscroll-content-fade-left" id="first">
  <div class="content">
    <h2><%= t('values.value_two.title') %></h2>
    <p class="align-justify"><%= t('values.value_two.content') %></p>
    <ul class="actions stacked text-align-center">
      <li>
        <div class="chevron-container">
          <a href="#value-three-anchor" class="smooth-scroll chevron-holder chevron-grey">
          <i class="fas fa-chevron-down"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="image">

    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473861/value_five.jpg", :alt => "image") %>
  </div>
</section>

<div id="value-three-anchor" class="value-three-anchor"></div>
  <!-- Spotlight -->
<section id="value-three" class="spotlight style1 orient-left content-align-left image-position-center  onscroll-image-fade-in onscroll-content-fade-right" id="first">
  <div class="content">
    <h2><%= t('values.value_three.title') %></h2>
    <p class="align-justify"><%= t('values.value_three.content') %></p>
    <ul class="actions stacked text-align-center">
      <li>
        <div class="chevron-container">
          <a href="#contact-anchor" class="smooth-scroll chevron-holder chevron-grey">
          <i class="fas fa-chevron-down"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="image">

    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473861/value_four.jpg", :alt => "image") %>
  </div>
</section>

