  <div id="engagement-products-anchor" class="engagement-products-anchor"></div>
<!-- Gallery -->
  <section id="engagement-products" class="wrapper style1 align-center">
    <div class="inner">
      <h2><%= t('solutions.engagement.products.title') %></h2>
      <p><%= t('solutions.engagement.products.content') %></p>
    </div>

    <!-- Gallery -->
      <div id="product-gallery" class="gallery-engagement style2 large lightbox onscroll-fade-in">
        <% @engagement_products.each do |product| %>

          <article class="product-card-margin">
            <div class="lightbox-link" id="lightbox-link-engagement">
              <a href="#" data-featherlight="#my-lightbox-<%= product.id %>" class="image products data-gallery data-gallery-engagement">
                <%= cl_image_tag product.photo, crop: :fill, :alt => "image", :class => "product-image" %>
              </a>
            </div>
            <div class="caption">
              <% if false && I18n.locale == :fr %>
                <h3 class=""><%= product.name_fr %></h3>
                <h4 class=""><%= product.subtitle_fr %></h4>
              <% elsif false &&  I18n.locale == :de %>
                <h3 class=""><%= product.name_en %></h3>
              <% elsif false &&  I18n.locale == :nl %>
                <h3 class=""><%= product.name_nl %></h3>
              <% else%>
                <h3 class=""><%= product.name_en %></h3>
              <% end %>
            </div>
          </article>

        <% end %>
      </div>
      <div class="inner"></div>
  </section>


