<!-- Items -->
  <section id="testimonials" class="wrapper style1 align-center">
    <div class="inner">
      <h2><%= t('solutions.engagement.testimonials.title') %></h2>
      <p><%= t('solutions.engagement.testimonials.text') %></p>
      <div class="owl-carousel owl-theme testimonial-cards onload-fade-in logo-carousel">
        <section class="testimonial-card">
          <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473814/axaassistance.png", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
        <section class="testimonial-card">
          <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1561716650/bpost.png", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
        <section class="testimonial-card">
          <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473815/spotify.png", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
        <section class="testimonial-card">
          <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473814/ey.png", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
        <section class="testimonial-card">
          <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473814/h_m.png", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
        <section class="testimonial-card">
          <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473815/pwc.png", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
        <section class="testimonial-card">
          <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1578825927/lombardier.jpg", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
        <section class="testimonial-card">
          <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1578826134/delaware.png", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
        <section class="testimonial-card">
          <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1586883597/SAQ_Logo_PersonnelCertification_RGB.jpg", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
      </div>
    </div>
  </section>
