<!-- Items -->
  <section id="testimonials" class="wrapper style1 align-center">
    <div class="inner">
      <h2><%= t('solutions.engagement.testimonials.title') %></h2>
      <div class="owl-carousel owl-theme testimonial-cards onload-fade-in logo-carousel">
        <section class="testimonial-card">
          <%= image_tag("logos/axaassistance.png", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
        <section class="testimonial-card">
          <%= image_tag("logos/bpost.png", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
        <section class="testimonial-card">
          <%= image_tag("logos/spotify.png", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
        <section class="testimonial-card">
          <%= image_tag("logos/ey.png", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
        <section class="testimonial-card">
          <%= image_tag("logos/h&m.png", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
        <section class="testimonial-card">
          <%= image_tag("logos/pwc.png", :alt => "image", :class => "testimonial-logo-solo") %>
        </section>
      </div>
    </div>
  </section>
