  <form method="post" action="/messages" id="contact-form">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="fields">
      <div class="field half">
        <label for="name"><%= t('form.name') %></label>
        <input type="text" name="message[name]" id="name" value="" />
      </div>
      <div class="field half">
        <label for="company"><%= t('form.company') %></label>
        <input type="text" name="message[company]" id="company" value="" />
      </div>
      <div class="field">
        <label for="email"><%= t('form.email') %></label>
        <input type="email" required name="message[email]" id="email" value="" />
      </div>
      <div class="field">
        <label for="phone"><%= t('form.phone') %></label>
        <input type="phone" name="message[phone]" id="phone" value="" />
      </div>
      <div class="field">
        <label for="message"><%= t('form.message') %></label>
        <textarea name="message[content]" id="message" rows=""></textarea>
      </div>
<!--       <div class="field half">
        <input type="checkbox" id="copy" name="message[copy]" checked/>
        <label for="copy">Email me a copy of this message</label>
      </div> -->
      <div class="field d-none">
        <input class="checkmark" type="checkbox" id="human" name="message[robot]"/>
        <label for="human"><%= t('form.human') %></label>
      </div>
      <div class="field">
        <div class="g-recaptcha" data-sitekey="6Leq-ZYgAAAAAGFXLTnAWjkwonj4qbyyTlJ2ytVv" data-callback="onRecaptchaSuccess"
        data-expired-callback="onRecaptchaResponseExpiry"
        data-error-callback="onRecaptchaError"></div>
      </div>

    </div>
    <ul class="actions align-center">
      <li><input class="primary contact-form-submit" type="submit" name="submit" id="submit" value="<%= t('form.send') %>" disabled /></li>
    </ul>
  </form>

  <script>
    let isRecaptchaValidated = false;

    function toggleRecaptchaFormMessage(type = "error", hide = false) {
      document.getElementById(`contact-form-${type}`).style.display = hide
        ? "none"
        : "inherit";
    }

    function onRecaptchaSuccess() {
      isRecaptchaValidated = true;
      document.getElementById("submit").disabled = false;
    }

    function onRecaptchaError() {
      // toggleRecaptchaFormMessage("error");
      // toggleRecaptchaFormMessage("success", true);
    }

    function onRecaptchaResponseExpiry() {
      // onRecaptchaError();
    }

    // window.onload = function () {
    //   const recaptchaForm = document.getElementById("contact-form");
    //   recaptchaForm.addEventListener("submit", function (e) {
    //     e.preventDefault();

    //     // failure
    //     if (!isRecaptchaValidated) {
    //       toggleRecaptchaFormMessage("error");
    //       toggleRecaptchaFormMessage("success", true);
    //       return;
    //     }

    //     // success
    //     toggleRecaptchaFormMessage("error", true);
    //     toggleRecaptchaFormMessage("success");
    //   });
    // };
  </script>
