<% if [259, 260, 261, 262].include?(@product.id) %>
  <% message_title = Title.find_by_unique_key("summer_contact_form_message")&.translate(locale) %>
<% else %>
  <% message_title = Title.find_by_unique_key("contact_form_message")&.translate(locale) %>
<% end %>
<%= simple_form_for Message.new do |f| %>
  <h2><%= Title.find_by_unique_key("contact_form_title")&.translate(locale) %></h2>
  <%= f.input :name, label:Title.find_by_unique_key("contact_form_name")&.translate(locale)%>
  <%= f.input :company,  label:Title.find_by_unique_key("contact_form_company")&.translate(locale) %>
  <%= f.input :email,  label:Title.find_by_unique_key("contact_form_email")&.translate(locale) %>
  <%= f.input :phone,  label:Title.find_by_unique_key("contact_form_phone")&.translate(locale) %>
  <%= f.input :attachment, as: :file, label:Title.find_by_unique_key("contact_form_attachment")&.translate(locale) %>
  <%= f.input :content, label: message_title, as: :text %>
  <div class="field d-none">
    <input class="checkbot" id="checkbot" name="message[checkbot]" value="" />
    <label for="human"><%= t('form.human') %></label>
  </div>
  <div class="field d-none">
    <input class="checkmark" type="checkbox" id="human" name="message[robot]"/>
    <label for="human"><%= t('form.human') %></label>
  </div>
  <div class="field">
    <div class="g-recaptcha" data-sitekey="6Leq-ZYgAAAAAGFXLTnAWjkwonj4qbyyTlJ2ytVv" data-callback="onRecaptchaSuccess"
    data-expired-callback="onRecaptchaResponseExpiry"
    data-error-callback="onRecaptchaError"></div>
  </div>
  <%= f.submit Title.find_by_unique_key("contact_form_send")&.translate(locale), class:"primary contact-form-submit", id:"btnsubmit" , disabled: true%>
<% end %>

<script>
  let isRecaptchaValidated = false;

  function toggleRecaptchaFormMessage(type = "error", hide = false) {
    document.getElementById(`contact-form-${type}`).style.display = hide
      ? "none"
      : "inherit";
  }

  function onRecaptchaSuccess() {
    isRecaptchaValidated = true;
    document.getElementById("btnsubmit").disabled = false;
    document.getElementById("checkbot").value = "okay";
  }

  function onRecaptchaError() {
    // toggleRecaptchaFormMessage("error");
    // toggleRecaptchaFormMessage("success", true);
  }

  function onRecaptchaResponseExpiry() {
    // onRecaptchaError();
  }

  const recaptchaForm = document.getElementById("contact-form");
  recaptchaForm.addEventListener("submit", function (e) {
    console.log("toto");
    e.preventDefault();

    // failure
    if (!isRecaptchaValidated) {
      console.log('bot');
      // toggleRecaptchaFormMessage("error");
      // toggleRecaptchaFormMessage("success", true);
      return;
    }

    // success
    document.getElementById("contact-form").submit();
  });
</script>
