<nav id="nav-menu-container">
  <ul class="nav-menu">
    <li id="nav_welcome" class="">
      <%= link_to welcome_path do %>
        <%= t("navbar.home") %>
      <% end %>
    </li>
    <li id="nav_solutions" class="menu-has-children">
      <%= link_to solutions_path do %>
        <%= t("navbar.solutions") %>
      <% end %>
      <ul class="nav-menu-drop-down">
        <li id="nav_languages" class="offer-nav">
          <%= link_to solutions_path(:anchor => 'languages-solutions') do %>
            <%= t("navbar.languages_title") %>
          <% end %>
        </li>
        <li id="nav_eval" class="offer-nav">
          <%= link_to eval_path do %>
            <%= t("navbar.eval_title") %>
          <% end %>
        </li>
        <li id="nav_communication" class="offer-nav">
          <%= link_to solutions_path(:anchor => 'communication-solutions') do %>
            <%= t("navbar.communication_title") %>
          <% end %>
        </li>
        <li id="nav_engagement" class="offer-nav">
          <%= link_to solutions_path(:anchor => 'engagement-solutions') do %>
            <%= t("navbar.engagement_title") %>
          <% end %>
        </li>
      </ul>
    </li>
    <li id="nav_eval" class="offer-nav eval_visible">
      <%= link_to eval_path do %>
        <%= t("navbar.eval_title") %>
      <% end %>
    </li>
    <li id="nav_events">
      <%= link_to summer_class_path do %>
        <%= t("navbar.summer_class") %>
      <% end %>
    </li>
    <li id="nav_about">
      <%= link_to about_path do %>
        <%= t("navbar.about") %>
      <% end %>
      <ul class="nav-menu-drop-down">
        <li id="nav_team" class="about-nav">
          <%= link_to about_path(:anchor => 'team-anchor') do %>
            <%= t("navbar.team") %>
          <% end %>
        </li>
        <li id="nav_whereto" class="about-nav d-none">
          <%= link_to about_path(:anchor => 'location-anchor') do %>
            <%= t("navbar.whereto") %>
          <% end %>
        </li>
        <li id="nav_probono" class="about-nav">
          <%= link_to about_path(:anchor => 'probono-anchor') do %>
            <%= t("navbar.probono") %>
          <% end %>
        </li>
      </ul>
    </li>
    <li id="nav_values">
      <%= link_to values_path do %>
        <%= t("navbar.values") %>
      <% end %>
    </li>
    <li id="nav_contact">
      <% link_to contact_path do %>
        <%= t("navbar.contact") %>
      <% end %>
    </li>
    <li id="nav_internationalization">
      <div class="locale">
        <i class="fas fa-globe-europe"></i>
        <%= I18n.locale.upcase %>
      </div>
      <ul class="language-drop-down">
        <li class="mobile_language_drops">
          <%= link_to "English", url_for( :locale => 'en' ) %>
        </li>
        <li class="mobile_language_drops">
          <%= link_to "Français", url_for( :locale => 'fr' ) %>
        </li>
        <li class="mobile_language_drops">
          <%= link_to "Nederlands", url_for( :locale => 'nl' ) %>
        </li>
        <li class="mobile_language_drops">
          <%= link_to "Deutsch", url_for( :locale => 'de' ) %>
        </li>
      </ul>
    </li>
  </ul>
</nav>



