<nav id="nav-menu-container">
  <ul class="nav-menu">
    <li id="nav_welcome" class="">
      <%= link_to welcome_path do %>
        <%= t("navbar.home") %>
      <% end %>
    </li>
    <li id="nav_solutions" class="menu-has-children">
      <%= link_to solutions_path do %>
        <%= t("navbar.solutions") %>
      <% end %>
      <ul class="nav-menu-drop-down">
        <li id="nav_engagement" class="offer-nav">
          <%= link_to solutions_path do %>
            <%= t("navbar.engagement_title") %>
          <% end %>
        </li>
        <li id="nav_communication" class="offer-nav">
          <%= link_to solutions_path do %>
            <%= t("navbar.communication_title") %>
          <% end %>
        </li>
        <li id="nav_languages" class="offer-nav">
          <%= link_to solutions_path do %>
            <%= t("navbar.languages_title") %>
          <% end %>
        </li>
      </ul>
    </li>
    <li id="nav_values">
      <%= link_to values_path do %>
        <%= t("navbar.values") %>
      <% end %>
    </li>
    <li id="nav_about">
      <%= link_to about_path do %>
        <%= t("navbar.about") %>
      <% end %>
    </li>
    <li id="nav_contact">
      <%= link_to contact_path do %>
        <%= t("navbar.contact") %>
      <% end %>
    </li>
    <!-- <li><a href="#about">EN</a></li> -->
  </ul>
</nav><!-- #nav-menu-container -->
