<nav id="nav-menu-container">
  <ul class="nav-menu">
    <li class="menu-active"><a href="#intro"><%= t("navbar.home") %></a></li>
    <li class="menu-has-children"><a href=""><%= t("navbar.solutions") %></a>
      <ul>
        <li><a href="#"><%= t("navbar.engagement_title") %></a></li>
        <li><a href="#"><%= t("navbar.communication_title") %></a></li>
        <li><a href="#"><%= t("navbar.languages_title") %></a></li>
      </ul>
    </li>
    <li><a href="#services"><%= t("navbar.about") %></a></li>
    <li><a href="#portfolio"><%= t("navbar.contact") %></a></li>
    <li><a href="#about">EN</a></li>
    <li><a href="#contact"></a></li>
  </ul>
</nav><!-- #nav-menu-container -->
