<section id="partners" class="wrapper style1 align-center">
  <h2><%= Title.find_by_unique_key("partners_title")&.translate(locale) %></h2>
  <div class="partners">
    <div class="partner">
      <%= image_tag("partners/Febelfin.png", :alt => "image", :class => "") %>
    </div>
    <div class="partner">
      <%= image_tag("partners/FSMA.jpg", :alt => "image", :class => "") %>
    </div>
    <div class="partner">
      <%= image_tag("partners/Qfor.png", :alt => "image", :class => "") %>
    </div>
    <div class="partner">
      <%= image_tag("partners/SAQ.png", :alt => "image", :class => "") %>
    </div>
    <div class="partner">
      <%= image_tag("partners/FSEA.png", :alt => "image", :class => "") %>
    </div>
    <div class="partner">
      <%= image_tag("partners/WSE.png", :alt => "image", :class => "") %>
    </div>



  </div>
</section>
