<!-- Items -->
<div id="testimonials-anchor" class="testimonials-anchor"></div>
<section id="testimonials" class="wrapper style1 align-center">
  <div class="inner">
    <h2><%= Title.find_by_unique_key("testimonials_title")&.translate(locale) %></h2>
    <div class="owl-carousel owl-theme testimonial-cards onload-fade-in card-carousel">
      <% @testimonials.each do |testimonial| %>
        <section class="testimonial-card">
          <div class="testimonial-card-logo">
            <%= image_tag(testimonial.logo_url, :alt => "image", :class => "testimonial-logo") %>
          </div>

          <p class="small-font"><%= eval("testimonial.content_#{locale}") %></p>
          <div class="testimonial-footer">
            <h3><%= testimonial.author %></h3>
            <h4><%= testimonial.company_name %></h4>
          </div>
        </section>
      <% end %>
    </div>
  </div>
</section>
