<!-- Spotlight -->
  <section class="spotlight style5 orient-center content-align-left image-position-center onscroll-image-fade-in color8">
    <div id="content-selector" class="content">
      <ul style="list-style: none;" class="selector-box">
        <li class="languages-selector-one languages-selector active"><i class="languages-selector-bubble languages-selector-bubble-one fas fa-circle"></i><h3><%= t('solutions.languages.approach.header_one') %></h3></li>
        <li class="languages-selector-two languages-selector"><i class="languages-selector-bubble languages-selector-bubble-two far fa-circle"></i><h3><%= t('solutions.languages.approach.header_two') %></h3></li>
        <li class="languages-selector-three languages-selector"><i class="languages-selector-bubble languages-selector-bubble-three far fa-circle"></i><h3><%= t('solutions.languages.approach.header_three') %></h3></li>
        <li class="languages-selector-four languages-selector"><i class="languages-selector-bubble languages-selector-bubble-four far fa-circle"></i><h3><%= t('solutions.languages.approach.header_four') %></h3></li>
        <li class="languages-selector-five languages-selector"><i class="languages-selector-bubble languages-selector-bubble-five far fa-circle"></i><h3><%= t('solutions.languages.approach.header_five') %></h3></li>
      </ul>
    </div>
    <div class="content small-font approaches">
      <div class="languages-approach languages-approach-one active onscroll-content-fade-in">
        <h2><%= t('solutions.languages.approach.header_one') %></h2>
        <div>
          <p class="align-justify"><%= t('solutions.languages.approach.content_one') %></p>
        </div>
      </div>
      <div class="languages-approach languages-approach-two onscroll-content-fade-in" style="display: none;">
        <h2><%= t('solutions.languages.approach.header_two') %></h2>
        <div>
          <p class="align-justify"><%= t('solutions.languages.approach.content_two') %></p>
        </div>
      </div>
      <div class="languages-approach languages-approach-three onscroll-content-fade-in" style="display: none;">
        <h2><%= t('solutions.languages.approach.header_three') %></h2>
        <div>
          <p class="align-justify"><%= t('solutions.languages.approach.content_three') %></p>
        </div>
      </div>
      <div class="languages-approach languages-approach-four onscroll-content-fade-in" style="display: none;">
        <h2><%= t('solutions.languages.approach.header_four') %></h2>
        <div>
          <p class="align-justify"><%= t('solutions.languages.approach.content_four') %></p>
        </div>
      </div>
      <div class="languages-approach languages-approach-five onscroll-content-fade-in" style="display: none;">
        <h2><%= t('solutions.languages.approach.header_five') %></h2>
        <div>
          <p class="align-justify"><%= t('solutions.languages.approach.content_five') %></p>
        </div>
      </div>
      <ul class="mobile-content-selector" style="list-style: none;">
        <li class="languages-mobile-selector languages-mobile-selector-one active"><i class="far fa-circle"></i></li>
        <li class="languages-mobile-selector languages-mobile-selector-two"><i class="far fa-circle"></i></li>
        <li class="languages-mobile-selector languages-mobile-selector-three"><i class="far fa-circle"></i></li>
        <li class="languages-mobile-selector languages-mobile-selector-four"><i class="far fa-circle"></i></li>
        <li class="languages-mobile-selector languages-mobile-selector-five"><i class="far fa-circle"></i></li>
    </div>
      </ul>
    <div class="image approach-background">
      <%= image_tag("languages/languages08.jpg", :alt => "image", :class => "approach-background") %>
    </div>
  </section>
