  <section id="approach" class="wrapper style1">
    <div class="inner">
      <h2 class="align-center"><%= t('solutions.languages.approach.title') %></h2>
      <div class="quadrant-container">
        <div class="quadrant-visual-container">
          <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1584706573/Quadrant2.jpg", :alt => "image", :class => "quadrant-image") do %>
          <% end %>
        </div>
        <div class="quadrant-text-container">
          <ul class="quadrant-text">
            <li>
              <div id="languages-quadrant-selector-one" class="languages-quadrant-selector quadrant-toggle-holder active">
                <i id="langauges-quadrant-toggle-one" class="fas fa-chevron-right quadrant-toggle"></i><h3><%= t('solutions.languages.approach.header_one') %>
                </h3>
              </div>
              <div id="languages-quadrant-content-one" class="languages-quadrant-content">
                <p class="small-font major-medium"><%= t('solutions.languages.approach.content_one_a') %></p>
                <p class="small-font align-justify"><%= t('solutions.languages.approach.content_one_b') %></p>
              </div>
            </li>
            <li>
              <div id="languages-quadrant-selector-two" class="languages-quadrant-selector quadrant-toggle-holder"><i  id="langauges-quadrant-toggle-two" class="fas fa-chevron-down quadrant-toggle"></i><h3><%= t('solutions.languages.approach.header_two') %></h3>
              </div>
              <div id="languages-quadrant-content-two" class="languages-quadrant-content" style="display:none;">
                <p class="small-font major-medium small-margin"><%= t('solutions.languages.approach.content_two_a') %></p><p class="small-font align-justify"><%= t('solutions.languages.approach.content_two_b') %></p>
              </div>
            </li>
            <li>
              <div id="languages-quadrant-selector-three" class="languages-quadrant-selector quadrant-toggle-holder"><i  id="langauges-quadrant-toggle-three" class="fas fa-chevron-down quadrant-toggle"></i><h3><%= t('solutions.languages.approach.header_three') %></h3>
              </div>
              <div id="languages-quadrant-content-three" class="languages-quadrant-content" style="display:none;">
                <p class="small-font major-medium small-margin"><%= t('solutions.languages.approach.content_three_a') %></p><p class="small-font align-justify"><%= t('solutions.languages.approach.content_three_b') %></p>
              </div>
            </li>
            <li>
              <div id="languages-quadrant-selector-four" class="languages-quadrant-selector quadrant-toggle-holder"><i  id="langauges-quadrant-toggle-four" class="fas fa-chevron-down quadrant-toggle"></i><h3><%= t('solutions.languages.approach.header_four') %></h3>
              </div>
              <div id="languages-quadrant-content-four" class="languages-quadrant-content" style="display:none;">
                <p class="small-font major-medium small-margin"><%= t('solutions.languages.approach.content_four_a') %></p><p class="small-font align-justify"><%= t('solutions.languages.approach.content_four_b') %></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
