  <section id="approach" class="wrapper style1">
    <div class="inner">
      <h2 class="align-center">Our approach</h2>
      <div class="quadrant-container">
        <div class="quadrant-visual-container">
          <%= image_tag("languages/quadrant.jpg", :alt => "image", :class => "quadrant-image") do %>
          <% end %>
        </div>
        <div class="quadrant-text-container">
          <ul class="quadrant-text">
            <li>
              <h2 id="languages-quadrant-selector-one" class="languages-quadrant-selector active"><%= t('solutions.languages.approach.header_one') %></h2>
              <p id="languages-quadrant-content-one" class="small-font languages-quadrant-content"><%= t('solutions.languages.approach.content_one') %></p>
            </li>
            <li>
              <h2 id="languages-quadrant-selector-two" class="languages-quadrant-selector"><%= t('solutions.languages.approach.header_two') %></h2>
              <p id="languages-quadrant-content-two" class="small-font languages-quadrant-content" style="display:none;"><%= t('solutions.languages.approach.content_two') %></p>
            </li>
            <li>
              <h2 id="languages-quadrant-selector-three" class="languages-quadrant-selector"><%= t('solutions.languages.approach.header_three') %></h2>
              <p id="languages-quadrant-content-three" class="small-font languages-quadrant-content" style="display:none;"><%= t('solutions.languages.approach.content_three') %></p>
            </li>
            <li>
              <h2 id="languages-quadrant-selector-four" class="languages-quadrant-selector"><%= t('solutions.languages.approach.header_four') %></h2>
              <p id="languages-quadrant-content-four" class="small-font languages-quadrant-content" style="display:none;"><%= t('solutions.languages.approach.content_four') %></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
