<!-- Items -->
  <section id="testimonials" class="wrapper style1 align-center">
    <div class="inner">
      <h2><%= t('solutions.languages.testimonials.title') %></h2>
      <div class="owl-carousel owl-theme testimonial-cards onload-fade-in card-carousel">
          <section class="testimonial-card">
            <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473814/konica.jpg", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.languages.testimonials.name_one') %></h3>
            <h4><%= t('solutions.languages.testimonials.company_one') %></h4>
            <p class="small-font">"<%= t('solutions.languages.testimonials.content_one') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473814/bridgestone.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.languages.testimonials.name_two') %></h3>
            <h4><%= t('solutions.languages.testimonials.company_two') %></h4>
            <p class="small-font">"<%= t('solutions.languages.testimonials.content_two') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473814/cofinimmo.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.languages.testimonials.name_three') %></h3>
            <h4><%= t('solutions.languages.testimonials.company_three') %></h4>
            <p class="small-font">"<%= t('solutions.languages.testimonials.content_three') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473814/credendo.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.languages.testimonials.name_four') %></h3>
            <h4><%= t('solutions.languages.testimonials.company_four') %></h4>
            <p class="small-font">"<%= t('solutions.languages.testimonials.content_four') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("lhttps://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473815/triodos.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.languages.testimonials.name_five') %></h3>
            <h4><%= t('solutions.languages.testimonials.company_five') %></h4>
            <p class="small-font">"<%= t('solutions.languages.testimonials.content_five') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473815/tucrail.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.languages.testimonials.name_six') %></h3>
            <h4><%= t('solutions.languages.testimonials.company_six') %></h4>
            <p class="small-font">"<%= t('solutions.languages.testimonials.content_six') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473814/cofinimmo.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.languages.testimonials.name_seven') %></h3>
            <h4><%= t('solutions.languages.testimonials.company_seven') %></h4>
            <p class="small-font">"<%= t('solutions.languages.testimonials.content_seven') %>"</p>
          </section>
      </div>
    </div>
  </section>
