
<div id="about">
  <div id="wrapper" class="divided">
    <%= render 'shared/navbar' %>
    <%= render 'shared/about/team' %>
    <%= render 'shared/about/location' %>
    <%= render 'shared/about/probono' %>
    <%= render 'shared/about/partners' %>
    <%= render 'shared/contact-counter' %>
  </div>
</div>
