
<div id="about">
  <div id="wrapper" class="divided">
    <%= render 'shared/navbar-fixed' %>
    <%= render 'shared/about/team' %>
    <%= render 'shared/about/location' %>
    <%= render 'shared/about/probono' %>
    <%= render 'shared/about/partners' %>
    <%= render 'shared/contactform' %>
  </div>
</div>
