<div id="about">
  <div id="wrapper" class="divided">
    <%= render 'shared/navbar' %>
    <%= render 'shared/about/team' %>
    <div id="location-anchor" class="location-anchor"></div>
    <%= render 'shared/about/location' %>
    <div id="probono-anchor" class="probono-anchor"></div>
    <%= render 'shared/about/probono' %>
    <%= render 'shared/contact-counter' %>
  </div>
</div>
