<%= render 'shared/new_navbar' %>

<div class="<%= @class %>">
  <div class="first-section">
    <div class="container flex">
      <div class="first-bloc">
        <h1><%= Title.find_by_unique_key("pillar_#{@key}_title")&.translate(locale) %></h1>
        <div class="owl-carousel owl-theme testimonial-cards onload-fade-in category-carousel">
          <section class="category-description">
            <h2><%= Title.find_by_unique_key("pillar_#{@key}_subtitle_1")&.translate(locale) %></h2>

            <div>
              <%= Title.find_by_unique_key("pillar_#{@key}_description_1")&.translate(locale) %>
            </div>
          </section>
          <section class="category-description">
            <h2><%= Title.find_by_unique_key("pillar_#{@key}_subtitle_2")&.translate(locale) %></h2>

            <div>
              <%= Title.find_by_unique_key("pillar_#{@key}_description_2")&.translate(locale) %>
            </div>
          </section>
        </div>
      </div>
    </div>
    <% if @class == "green" %>
      <%= image_tag 'pillar_leader.png' %>
    <% elsif @class == "blue" %>
      <%= image_tag 'pillar_comm.png' %>
    <% elsif @class == "red" %>
      <%= image_tag 'pillar_languages.png' %>
    <% elsif @class == "yellow" %>
      <%= image_tag 'pillar_p-c.png' %>
    <% end %>
  </div>
  <% if @class == "blue" %>
    <div class="second-section green">
      <div class="categories">
        <div class="big-category">
          <div class="header">
            <%= Title.find_by_unique_key("pillar_communication_category_header_1")&.translate(locale) %>
          </div>
          <% @products_1.each do |product| %>
            <%= link_to preview_product_path(product.id), class: "category-link" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>

        </div>

        <div class="big-category">
          <div class="header">
            <%= Title.find_by_unique_key("pillar_communication_category_header_2")&.translate(locale) %>
          </div>
          <% @products_2.each do |product| %>
            <%= link_to preview_product_path(product.id), class: "category-link" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>

        </div>
      </div>
    </div>
  <% elsif @class == "red" %>
    <div class="second-section red">
      <div class="categories">
        <div class="big-category">
          <div class="header">
            <%= Title.find_by_unique_key("pillar_languages_category_header_1")&.translate(locale) %>
          </div>
          <% @products_1.each do |product| %>
            <%= link_to preview_product_path(product.id), class: "category-link" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>

        </div>

        <div class="big-category">
          <div class="header">
            <%= Title.find_by_unique_key("pillar_languages_category_header_2")&.translate(locale) %>
          </div>
          <% @products_2.each do |product| %>
            <%= link_to preview_product_path(product.id), class: "category-link" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>

        </div>
        <div class="big-category">
          <div class="header">
            <%= Title.find_by_unique_key("pillar_languages_category_header_3")&.translate(locale) %>
          </div>
          <% @products_3.each do |product| %>
            <%= link_to preview_product_path(product.id), class: "category-link" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>

        </div>
      </div>
    </div>
  <% elsif @class == "yellow" %>
    <div class="second-section red">
      <div class="categories">
          <% @products.each do |product| %>
            <%= link_to preview_product_path(product.id), class: "category-block" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>
      </div>
    </div>
  <% elsif @class == "green" %>
    <div class="second-section red">
      <div class="categories">
          <% @products.each do |product| %>
            <%= link_to preview_product_path(product.id), class: "category-block" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>
      </div>
    </div>
  <% end %>
  <%= render 'shared/solutions/communication/approach_new' %>
  <div class="trainers">
    <div class="container">
      <div class="trainers-flex">
        <div class="content">
          <h3><%= Title.find_by_unique_key("pillar_trainers_title")&.translate(locale) %></h3>
          <div class="description">
            <%= Title.find_by_unique_key("pillar_trainers_description")&.translate(locale) %>
          </div>
          <div class="btn-div">
            <%= link_to contact_path, class:"regular" do %><span><%= Title.find_by_unique_key("pillar_trainers_cta")&.translate(locale) %> <%= render 'shared/svg/arrow-right-circle' %></span>
            <% end %>
          </div>
        </div>
        <% if @class == "green" %>
          <%= image_tag 'coach_leader.png' %>
        <% elsif @class == "blue" %>
          <%= image_tag 'coach_comm.png' %>
        <% elsif @class == "red" %>
          <%= image_tag 'coach_languages.png' %>
        <% elsif @class == "yellow" %>
          <%= image_tag 'coach_p-c.png' %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'shared/new_testimonials' %>
  <div class="contact-banner">
    <div class="contact-us-text">
      <%= Title.find_by_unique_key("shared_curious_to_know_more")&.translate(locale) %>
    </div>
    <%= link_to contact_path, class:"contact-us-btn" do %>
      <%= Title.find_by_unique_key("shared_btn_contact_us")&.translate(locale) %>
      <%= render 'shared/svg/arrow-right-circle' %>
    <% end %>
  </div>
</div>
