<%= render 'shared/navbar-fixed' %>

<div class="<%= @class %>">
  <div class="first-section">
    <div class="container flex">
      <div class="first-bloc">
        <h1><%= Title.find_by_unique_key("pillar_#{@key}_title")&.translate(locale) %></h1>
        <h2><%= Title.find_by_unique_key("pillar_#{@key}_subtitle_1")&.translate(locale) %></h2>

        <div>
          <%= Title.find_by_unique_key("pillar_#{@key}_description_1")&.translate(locale) %>
        </div>
      </div>
    </div>
    <% if @class == "green" %>
      <%= image_tag 'pillar_leader.png' %>
    <% elsif @class == "blue" %>
      <%= image_tag 'pillar_comm.png' %>
    <% elsif @class == "red" %>
      <%= image_tag 'pillar_languages.png' %>
    <% elsif @class == "yellow" %>
      <%= image_tag 'pillar_p-c.png' %>
    <% end %>
  </div>
  <% if @class == "blue" %>
    <div class="second-section green">
      <div class="categories">
        <div class="big-category">
          <div class="header">
            <%= Title.find_by_unique_key("pillar_communication_category_header_1")&.translate(locale) %>
          </div>
          <% Product.where("name_en IS NOT NULL").take(3).each do |product| %>
            <%= link_to product_path(product.id), class: "category-link" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>

        </div>

        <div class="big-category">
          <div class="header">
            <%= Title.find_by_unique_key("pillar_communication_category_header_2")&.translate(locale) %>
          </div>
          <% Product.take(3).each do |product| %>
            <%= link_to product_path(product.id), class: "category-link" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>

        </div>
      </div>
    </div>
  <% elsif @class == "red" %>
    <div class="second-section red">
      <div class="categories">
        <div class="big-category">
          <div class="header">
            <%= Title.find_by_unique_key("pillar_languages_category_header_1")&.translate(locale) %>
          </div>
          <% Product.where("name_en IS NOT NULL").take(3).each do |product| %>
            <%= link_to product_path(product.id), class: "category-link" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>

        </div>

        <div class="big-category">
          <div class="header">
            <%= Title.find_by_unique_key("pillar_languages_category_header_2")&.translate(locale) %>
          </div>
          <% Product.take(3).each do |product| %>
            <%= link_to product_path(product.id), class: "category-link" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>

        </div>
        <div class="big-category">
          <div class="header">
            <%= Title.find_by_unique_key("pillar_languages_category_header_3")&.translate(locale) %>
          </div>
          <% Product.take(3).each do |product| %>
            <%= link_to product_path(product.id), class: "category-link" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>

        </div>
      </div>
    </div>
  <% elsif @class == "yellow" %>
    <div class="second-section red">
      <div class="categories">
          <% Product.where("name_en IS NOT NULL").take(4).each do |product| %>
            <%= link_to product_path(product.id), class: "category-block" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>
      </div>
    </div>
  <% elsif @class == "green" %>
    <div class="second-section red">
      <div class="categories">
          <% Product.where("name_en IS NOT NULL").take(4).each do |product| %>
            <%= link_to product_path(product.id), class: "category-block" do %>
              <div class="title">
                <%= eval("product.name_#{locale}") %>
              </div>
              <%= render 'shared/svg/arrow-right-circle' %>
            <% end %>

          <% end %>
      </div>
    </div>
  <% end %>
  <%= render 'shared/solutions/communication/approach_new' %>
  <div class="trainers">
    <div class="container">
      <div class="trainers-flex">
        <div class="content">
          <h3><%= Title.find_by_unique_key("pillar_trainers_title")&.translate(locale) %></h3>
          <div class="description">
            <%= Title.find_by_unique_key("pillar_trainers_description")&.translate(locale) %>
          </div>
          <div class="btn-div">
            <a href="#products" class="regular"><span><%= Title.find_by_unique_key("pillar_trainers_cta")&.translate(locale) %> <%= render 'shared/svg/arrow-right-circle' %></span></a>
          </div>
        </div>
        <% if @class == "green" %>
          <%= image_tag 'coach_leader.png' %>
        <% elsif @class == "blue" %>
          <%= image_tag 'coach_comm.png' %>
        <% elsif @class == "red" %>
          <%= image_tag 'coach_languages.png' %>
        <% elsif @class == "yellow" %>
          <%= image_tag 'coach_p-c.png' %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'shared/new_testimonials' %>
  <div class="third-section">
    <div class="contact-us-text">
      Curious to know more?
    </div>
    <div class="contact-us-btn">
      Contact us
      <%= render 'shared/svg/arrow-right-circle' %>
    </div>
  </div>
</div>
