<div id="disclaimer">
    <%= render 'shared/navbar-fixed' %>
    <section class="wrapper style1 align-left">
      <div class="inner">
        <h1 style="margin-top: 3rem;"><%= t('cookies.title') %></h1>
        <h2><%= t('cookies.subtitle_one') %></h2>
        <p><%= t('cookies.text_one') %></p>
        <h2><%= t('cookies.subtitle_two') %></h2>
        <p><%= t('cookies.text_two') %></p>
        <h2><%= t('cookies.subtitle_three') %></h2>
        <p><%= t('cookies.text_three') %></p>
        <h2><%= t('cookies.subtitle_four') %></h2>
        <p><%= t('cookies.text_four') %></p>
        <h2><%= t('cookies.subtitle_five') %></h2>
        <p><%= t('cookies.text_five') %></p>
        <h2><%= t('cookies.subtitle_six') %></h2>
        <p><%= t('cookies.text_six') %></p>
        <h2><%= t('cookies.subtitle_seven') %></h2>
        <p><%= t('cookies.text_seven') %></p>
      </div>
    <section>
</div>
