<div id="disclaimer">
    <%= render 'shared/navbar-fixed' %>
    <section class="wrapper style1 align-left">
      <div class="inner">
        <h1 style="margin-top: 3rem;"><%= t('disclaimer.title') %></h1>
        <h2><%= t('disclaimer.subtitle_one') %></h2>
        <p><%= t('disclaimer.text_one') %></p>
        <h2><%= t('disclaimer.subtitle_two') %></h2>
        <p><%= t('disclaimer.text_two_a') %></p>
        <p><%= t('disclaimer.text_two_b') %></p>
        <h2><%= t('disclaimer.subtitle_three') %></h2>
        <p class="major"><%= t('disclaimer.text_three_a') %></p>
        <p><%= t('disclaimer.text_three_b') %></p>
        <p><%= t('disclaimer.text_three_c') %></p>
        <p><%= t('disclaimer.text_three_d') %></p>
        <h2><%= t('disclaimer.subtitle_four') %></h2>
        <p><%= t('disclaimer.text_four') %></p>

        <%= LegalPage.find_by_name("disclaimer")&.content %>
      </div>
    <section>
</div>

