<%= render 'shared/navbar-fixed' %>
<% locale = I18n.locale %>
<div  class="wrapper banner-title">
  <h2>
    <%= t ('events.title_html') %>

  </h2>
</div>
<div class="wrapper-second">
  <%= t ('events.sub_title_html') %>
</div>
<div class="events">
  <% @products.each do |product| %>
    <div class="event">
      <div style="background-image: url(<%= product.photo_url %>)" class="bg-image">
      </div>
      <div class="title">
        <%= eval("product.name_#{locale}") %>
      </div>
      <div class="description">
        <%= eval("product.description_#{locale}") %>
      </div>
      <% cta = eval("product.cta_#{locale}") %>
      <%= link_to cta.nil? ? "See more" : cta, product_path(product.id), class:"cta" %>
    </div>
  <% end %>
</div>

<!-- Items -->
<section id="testimonials" class="wrapper style1 align-center">
  <div class="inner">
    <h3><%= t('events.testimonials_title_html') %></h3>
    <div class="owl-carousel owl-theme testimonial-cards onload-fade-in card-carousel-solo">
        <section class="testimonial-card">
          <p class="small-font">
            "Although our agents were at first unsure about the added value of the training, the trainer managed to capture their attention within the first few minutes. The agents came out of the Teams in Action session with a big smile on their faces and their feedback is that they feel closer to each other and more united than ever. " - <span style="font-weight:bold">Virginie Lefèvre I Head of section RB KSD & Alliances CDM Local Worldline</span>
          </p>
        </section>
        <section class="testimonial-card">
          <p class="small-font">
            "By working in small groups, senior leaders are really coached 121 and cross-functional peer learning is leveraged at the same time. The approach is truly hands-on, as participants use their own cases, increasing the relevance of the learnings and facilitating application afterwards. Five-star ratings given by our participants!" – <span style="font-weight:bold">Nele Van Hooste, Talent & Development Lead, Galapagos</span>
          </p>
        </section>
        <section class="testimonial-card">
          <p class="small-font">
            "What great progress I have made! My English has improved considerably. I can now say goodbye to the stress that troubled me before every meeting! Mostly thanks to the trainer who has a perfect command of her subject, knows how to manage a group of 8 people and makes us feel at ease in all situations. She has the art of making her lessons come alive and is very pedagogical. You can also feel that she is passionate about her work. In short, I recommend ATOLO courses. So much more rewarding than any other language training I followed in the past." - <span style="font-weight:bold">Participant – Tailor-made language course</span>
          </p>
        </section>
    </div>
  </div>
</section>
