<%= render 'shared/navbar-fixed' %>

<section>
  <div class="content event-container align-center">
    <div class="event-tabs">
      <div id="" class="event-box event-tab">
        <a href="#the-virtual-communicator" class="smooth-scroll">
          <p><%= t('events.event_one.title') %></p>
        </a>
      </div>

      <div id="" class="event-box event-tab">
        <a href="#strengths-in-action" class="smooth-scroll">
          <p><%= t('events.event_two.title') %></p>
        </a>
      </div>

      <div id="" class="event-box event-tab">
        <a href="#talking-business-to-business" class="smooth-scroll">
          <p><%= t('events.event_three.title') %></p>
        </a>
      </div>
    </div>
  </div>
</section>

<div id="wrapper" class="divided">
  <section id="the-virtual-communicator"class="spotlight style2 orient-right content-align-left fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2 class="margin-top"><%= t('events.event_one.title') %></h2>
      <p class="align-justify">
        <%= t('events.event_one.paragraph_one') %>
      </br>
        <%= t('events.event_one.paragraph_two') %>
      </p>
      <ul>
        <li><%= t('events.event_one.bullet_one') %></li>
        <li><%= t('events.event_one.bullet_two') %></li>
        <li><%= t('events.event_one.bullet_three') %></li>
      </ul>
      <p>
        <strong><%= t('events.event_one.info.title_one') %></strong>: <%= t('events.event_one.info.content_one') %>
      </br>
        <strong><%= t('events.event_one.info.title_two') %></strong>: <%= t('events.event_one.info.content_two') %>
      </br>
        <strong><%= t('events.event_one.info.title_three') %></strong>: <%= t('events.event_one.info.content_three') %>
      </br>
        <strong><%= t('events.event_one.info.title_four') %></strong>: <%= t('events.event_one.info.content_four') %>
      </br>
      </p>
      <%= link_to t('events.register'), contact_path, :class => "button primary" %>
    </div>
    <div class="image">
      <%#= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473839/people11.jpg", :alt => "image") %>
      <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1601282649/event_4.jpg", :alt => "image") %>
    </div>
  </section>
  <section id="strengths-in-action" class="spotlight style2 orient-left content-align-left fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2 class="margin-top"><%= t('events.event_two.title') %></h2>
      <p class="align-justify">
        <%= t('events.event_two.paragraph_one') %>
      </br>
        <%= t('events.event_two.paragraph_two') %>
      </p>
      <p>
        <strong><%= t('events.event_two.info.title_one') %></strong>: <%= t('events.event_two.info.content_one') %>
      </br>
        <strong><%= t('events.event_two.info.title_two') %></strong>: <%= t('events.event_two.info.content_two') %>
      </br>
        <strong><%= t('events.event_two.info.title_three') %></strong>: <%= t('events.event_two.info.content_three') %>
      </br>
        <strong><%= t('events.event_two.info.title_four') %></strong>: <%= t('events.event_two.info.content_four') %>
      </br>
      </p>
      <%= link_to t('events.register'), contact_path, :class => "button primary" %>
    </div>
  <div class="image">
    <%#= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473839/people11.jpg", :alt => "image") %>
    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1601282650/event_1.jpg", :alt => "image") %>
  </div>
</section>
  <section id="talking-business-to-business" class="spotlight style2 orient-right content-align-left fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2 class="margin-top"><%= t('events.event_three.title') %></h2>
      <p class="align-justify">
        <%= t('events.event_three.paragraph_one') %>
      </br>
        <%= t('events.event_three.paragraph_two') %>
      </p>
      <p>
        <strong><%= t('events.event_three.info.title_one') %></strong>: <%= t('events.event_three.info.content_one') %>
      </br>
        <strong><%= t('events.event_three.info.title_two') %></strong>: <%= t('events.event_three.info.content_two') %>
      </br>
        <strong><%= t('events.event_three.info.title_three') %></strong>: <%= t('events.event_three.info.content_three') %>
      </br>
        <strong><%= t('events.event_three.info.title_four') %></strong>: <%= t('events.event_three.info.content_four') %>
      </br>
      </p>
      <%= link_to t('events.register'), contact_path, :class => "button primary" %>
    </div>
  <div class="image">
    <%#= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473839/people11.jpg", :alt => "image") %>
    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1601286743/yellow_dude.jpg", :alt => "image") %>
  </div>
</section>
</div>
