<%= render 'shared/navbar-fixed' %>

<section>
  <div class="content offer-container align-center">
    <div class="offer-tabs">
      <div id="offer-engagement" class="offer-box offer-tab">
        <a href="#the-virtual-communicator" class="smooth-scroll">
          <p>The virtual communicator</p>
        </a>
      </div>

      <div id="offer-communication" class="offer-box offer-tab">
        <a href="#strengths-in-action" class="smooth-scroll">
          <p>Strengths in action</p>
        </a>
      </div>

      <div id="offer-languages" class="offer-box offer-tab">
        <a href="#talking-business-to-business" class="smooth-scroll">
          <p>Talking business to business</p>
        </a>
      </div>
    </div>
  </div>
</section>

<div id="wrapper" class="divided">
  <section id="the-virtual-communicator"class="spotlight style2 orient-right content-align-left fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2 class="margin-top">The virtual communicator</h2>
      <p class="align-justify">Does most of your communication take place online? Feel that it lacks dynamism? Been told that your voice is too monotonous? Find it difficult to connect at the human level? To motivate, inspire or obtain buy-in?</br>
      Receive tips from deep experts in communication with many years of experience on the field during a dynamic webinar! During this webinar, you will:</p>
      <ul>
        <li>Explore how it all starts with mindset, focus and attitude. Although the medium is digital, communication will always remain 100% human.</li>
        <li>Work on your Virtual Presence: get tips and tricks on how to transmit your message and be present in the moment.</li>
        <li>Discover techniques to increase interaction and add dynamism to your meetings, presentations and webinars</li>
      </ul>
      <p><strong>when</strong>: 27/10/2020 from 12 to 13.30 </br>
      <strong>where</strong>: Zoom </br>
      <strong>language</strong>: English </br>
      <strong>cost</strong>: Free (if more than two individuals from the same company would like to join, contact us)
      </p>
      <%= link_to 'Register here', contact_path, :class => "button primary" %>
    </div>
    <div class="image">
      <%#= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473839/people11.jpg", :alt => "image") %>
      <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1601282650/event_1.jpg", :alt => "image") %>
    </div>
  </section>
  <section id="strengths-in-action" class="spotlight style2 orient-left content-align-left fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <h2 class="margin-top">The virtual communicator</h2>
    <p class="align-justify">Does most of your communication take place online? Feel that it lacks dynamism? Been told that your voice is too monotonous? Find it difficult to connect at the human level? To motivate, inspire or obtain buy-in?</br>
    Receive tips from deep experts in communication with many years of experience on the field during a dynamic webinar! During this webinar, you will:</p>
    <ul>
      <li>Explore how it all starts with mindset, focus and attitude. Although the medium is digital, communication will always remain 100% human.</li>
      <li>Work on your Virtual Presence: get tips and tricks on how to transmit your message and be present in the moment.</li>
      <li>Discover techniques to increase interaction and add dynamism to your meetings, presentations and webinars</li>
    </ul>
    <p><strong>when</strong>: 27/10/2020 from 12 to 13.30 </br>
    <strong>where</strong>: Zoom </br>
    <strong>language</strong>: English </br>
    <strong>cost</strong>: Free (if more than two individuals from the same company would like to join, contact us)
    </p>
    <%= link_to 'Register here', contact_path, :class => "button primary" %>
  </div>
  <div class="image">
    <%#= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473839/people11.jpg", :alt => "image") %>
    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1601282649/event_3.jpg", :alt => "image") %>
  </div>
</section>
  <section id="talking-business-to-business" class="spotlight style2 orient-right content-align-left fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <h2 class="margin-top">The virtual communicator</h2>
    <p class="align-justify">Does most of your communication take place online? Feel that it lacks dynamism? Been told that your voice is too monotonous? Find it difficult to connect at the human level? To motivate, inspire or obtain buy-in?</br>
    Receive tips from deep experts in communication with many years of experience on the field during a dynamic webinar! During this webinar, you will:</p>
    <ul>
      <li>Explore how it all starts with mindset, focus and attitude. Although the medium is digital, communication will always remain 100% human.</li>
      <li>Work on your Virtual Presence: get tips and tricks on how to transmit your message and be present in the moment.</li>
      <li>Discover techniques to increase interaction and add dynamism to your meetings, presentations and webinars</li>
    </ul>
    <p><strong>when</strong>: 27/10/2020 from 12 to 13.30 </br>
    <strong>where</strong>: Zoom </br>
    <strong>language</strong>: English </br>
    <strong>cost</strong>: Free (if more than two individuals from the same company would like to join, contact us)
    </p>
    <%= link_to 'Register here', contact_path, :class => "button primary" %>
  </div>
  <div class="image">
    <%#= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473839/people11.jpg", :alt => "image") %>
    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1601282649/event_4.jpg", :alt => "image") %>
  </div>
</section>
</div>


