<%= render 'shared/navbar-fixed' %>

<!-- <section>
  <div class="content event-container align-center">
    <div class="event-tabs">

      <div id="" class="event-box event-tab">
        <a href="#tab-one" class="smooth-scroll">
          <p><%= t('events.communication_offer') %></p>
        </a>
      </div>

      <div id="" class="event-box event-tab">
        <a href="#tab-two" class="smooth-scroll">
          <p><%= t('events.language_offer') %></p>
        </a>
      </div>

    </div>
  </div>
</section> -->

<div id="wrapper" class="divided">
  <section id="tab-one"class="spotlight style1 orient-right content-align-left fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <!-- start content -->
      <h2 class="margin-top title-center"><%= t('events.event_one.title') %></h2>
      <!-- webinar 1 -->
      <h4 class="webinar-title">
        <%= t('events.event_one.webinar_one.title') %>
      </h4>
      <p><%= t('events.event_one.webinar_one.text') %></p>
      <ul>
        <li><%= t('events.event_one.webinar_one.bullet_one') %></li>
        <li><%= t('events.event_one.webinar_one.bullet_two') %></li>
        <li><%= t('events.event_one.webinar_one.bullet_three') %></li>
      </ul>
      <p><%= t('events.event_one.webinar_one.text_two') %></p>
      <p><%= t('events.event_one.webinar_one.practicalities.text') %></p>
      <ul>
        <li><%= t('events.event_one.webinar_one.practicalities.bullet_one') %></li>
        <li><%= t('events.event_one.webinar_one.practicalities.bullet_two') %></li>
        <li><%= t('events.event_one.webinar_one.practicalities.bullet_three') %></li>
        <li><%= t('events.event_one.webinar_one.practicalities.bullet_four') %></li>
      </ul>
      <!-- Button -->
      <div class="title-center">
        <%= link_to "Register here", "https://www.eventbrite.be/e/values-as-a-strategic-organisational-tool-tickets-195754435787", :class => "button primary", target: '_blank' %>
      </div>
      </br>
      <!-- webinar 2 -->
      <h4 class="webinar-title">
        <%= t('events.event_one.webinar_two.title') %>
      </h4>
      <p><%= t('events.event_one.webinar_two.text') %></p>
      <ul>
        <li><%= t('events.event_one.webinar_two.bullet_one') %></li>
        <li><%= t('events.event_one.webinar_two.bullet_two') %></li>
        <li><%= t('events.event_one.webinar_two.bullet_three') %></li>
      </ul>
      <p><%= t('events.event_one.webinar_two.text_two') %></p>
      <p><%= t('events.event_one.webinar_two.practicalities.text') %></p>
      <ul>
        <li><%= t('events.event_one.webinar_two.practicalities.bullet_one') %></li>
        <li><%= t('events.event_one.webinar_two.practicalities.bullet_two') %></li>
        <li><%= t('events.event_one.webinar_two.practicalities.bullet_three') %></li>
        <li><%= t('events.event_one.webinar_two.practicalities.bullet_four') %></li>
      </ul>
      <!-- Button -->
<!--       <div class="title-center">
        <%= link_to "Register here", "https://www.eventbrite.be/e/values-as-a-strategic-organisational-tool-tickets-195754435787", :class => "button primary", target: '_blank' %>
      </div> -->
      <!-- End -->
    </div>
    <div class="image">
      <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1635527181/Ontwerp_zonder_titel_1.jpg", :alt => "image") %>
    </div>
<!--   <section id="talking-business-to-business" class="spotlight style2 orient-right content-align-left fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2 class="margin-top"><%= t('events.event_three.title') %></h2>
      <p class="align-justify">
        <%= t('events.event_three.paragraph_one') %>
      </br>
        <%= t('events.event_three.paragraph_two') %>
      </p>
      <p>
        <strong><%= t('events.event_three.info.title_one') %></strong>: <%= t('events.event_three.info.content_one') %>
      </br>
        <strong><%= t('events.event_three.info.title_two') %></strong>: <%= t('events.event_three.info.content_two') %>
      </br>
        <strong><%= t('events.event_three.info.title_three') %></strong>: <%= t('events.event_three.info.content_three') %>
      </br>
        <strong><%= t('events.event_three.info.title_four') %></strong>: <%= t('events.event_three.info.content_four') %>
      </br>
      </p>
      <%= link_to t('events.register'), "https://www.eventbrite.be/e/copy-of-talking-business-to-the-business-registration-135827837719", :class => "button primary", target: '_blank' %>
    </div>
  <div class="image">
    <%#= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473839/people11.jpg", :alt => "image") %>
    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1601286743/yellow_dude.jpg", :alt => "image") %>
  </div>
</section> -->
</div>
