<%= render 'shared/navbar-fixed' %>
<% locale = I18n.locale %>

<div class="first-section" style="background-image: url(<%= image_url 'bg_summerclass.jpg' %>)">
  <h1>
    <%= "Great things happen when people communicate well" %>
  </h1>
  <a href="#products" class="regular"><span>How can we help you <%= image_tag 'icons/arrow-down-circle.svg' %></span></a>
</div>
<div class="second-section">
  <div class="categories">
    <div class="category red">
      <div class="title">
        Language trainings
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        Learn more
      </div>
    </div>
    <div class="category blue">
      <div class="title">
        Communication solutions
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        Learn more
      </div>
    </div>
    <div class="category yellow">
      <div class="title">
        People and company culture development
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        Learn more
      </div>
    </div>
    <div class="category green-2">
      <div class="title">
        Leadership programmes
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        Learn more
      </div>
    </div>
    <div class="category grey">
      <div class="title">
        Language scan
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        Learn more
      </div>
    </div>
    <div class="category green">
      <div class="title">
        Contact us
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        Learn more
      </div>
    </div>
  </div>
</div>
<div class="third-section">

</div>
<div class="key-figures">

</div>
<div class="testimonials">

</div>
<div class="partners">

</div>
