<%= render 'shared/new_navbar' %>
<% locale = I18n.locale %>
<% product = Rails.env.production? ? Product.find(258) : Product.last %>

<div class="first-section" style="background-image: url(<%= image_url 'home.jpg' %>)">
  <div class="overlay"></div>
  <h1>
    Great things happen when people <span id="typed-home">communicate</span> well!
  </h1>
  <a href="#how-can-we-help-you" class="regular"><span>
    <%= Title.find_by_unique_key("shared_btn_how_can_we_help_you")&.translate(locale) %> <%= image_tag 'icons/arrow-down-circle.svg' %></span></a>
</div>
<div class="second-section">
  <div class="categories">
    <%= link_to category_path(category: "languages"), class:"category red" do %>
      <div class="title">
        <%= Title.find_by_unique_key("home_page_languages_title")&.translate(locale) %>
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        <%= Title.find_by_unique_key("home_page_learn_more")&.translate(locale) %>
      </div>
    <% end %>
    <%= link_to category_path(category: "communication"), class:"category blue" do %>
      <div class="title">
        <%= Title.find_by_unique_key("home_page_communication_title")&.translate(locale) %>
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        <%= Title.find_by_unique_key("home_page_learn_more")&.translate(locale) %>
      </div>
    <% end %>
    <%= link_to category_path(category: "people_and_culture"), class:"category yellow" do %>
      <div class="title">
        <%= Title.find_by_unique_key("home_page_p_c_title")&.translate(locale) %>
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        <%= Title.find_by_unique_key("home_page_learn_more")&.translate(locale) %>
      </div>
    <% end %>
    <%= link_to category_path(category: "leadership"), class:"category green-2" do %>
      <div class="title">
        <%= Title.find_by_unique_key("home_page_leader_title")&.translate(locale) %>
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        <%= Title.find_by_unique_key("home_page_learn_more")&.translate(locale) %>
      </div>
    <% end %>
    <%= link_to eval_path, class:"category grey" do %>
      <div class="title">
        <%= Title.find_by_unique_key("home_page_language_scan_title")&.translate(locale) %>
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        <%= Title.find_by_unique_key("home_page_learn_more")&.translate(locale) %>
      </div>
    <% end %>
    <%= link_to contact_path, class:"category green" do %>
      <div class="title">
        <%= Title.find_by_unique_key("home_page_contact_title")&.translate(locale) %>
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        <%= Title.find_by_unique_key("home_page_learn_more")&.translate(locale) %>
      </div>
    <% end %>
  </div>
</div>
<div id="how-can-we-help-you" class="third-section">
  <h2><%= Title.find_by_unique_key("home_page_section_3_how_can_we_help_you")&.translate(locale) %></h2>
  <div class="third-section-content">
    <%= Title.find_by_unique_key("home_page_section_3_how_can_we_help_you_description")&.translate(locale) %>
  </div>
  <a href="/about" class="regular"><span><%= Title.find_by_unique_key("home_page_btn_about_us")&.translate(locale) %> <%= render 'shared/svg/arrow-right-circle' %></span></a>
</div>
<div class="fourth-section d-none">
  <h2><%= Title.find_by_unique_key("home_page_section_4_whats_new")&.translate(locale) %></h2>
  <div  class="wrapper banner-title" style="background-image: url(<%= image_url 'bg_summerclass.jpg' %>)">
    <h1>
      <%= Title.find_by_unique_key("summer_classes_title")&.translate(locale) %>
    </h1>
    <div class="dates">
      <div>
        <%= Title.find_by_unique_key("summer_classes_start_date")&.translate(locale) %>
      </div>
      <%= image_tag "icons/green-arrow.svg" %>
      <div>
         <%= Title.find_by_unique_key("summer_classes_end_date")&.translate(locale) %>
      </div>
    </div>
    <div class="subtitle">
      <%= Title.find_by_unique_key("summer_classes_description")&.translate(locale) %>
    </div>
    <a href="/summer_class" class="regular"><span> <%= Title.find_by_unique_key("summer_classes_btn_discover_it")&.translate(locale) %> <%= image_tag 'icons/arrow-right-circle.svg' %></span></a>
  </div>
</div>
<div class="fourth-section">
  <div class="owl-carousel banner-home-carousel">
    <div  class="wrapper banner-title" style="background-image: url(<%= image_url 'bg_summerclass_2024.jpg' %>)">
      <div class="title-group" style="padding-bottom:80px;">
        <div>
          <%= Title.find_by_unique_key("summer_class_header_title_1")&.translate(locale) %>
        </div>
        <h1>
          <%= Title.find_by_unique_key("summer_class_header_title_2")&.translate(locale) %>
        </h1>
        <div>
          <%= Title.find_by_unique_key("summer_class_header_title_3")&.translate(locale) %>
        </div>
        <div class="dates">
          <div>
            <%= Title.find_by_unique_key("summer_class_header_date_1")&.translate(locale) %>
          </div>
          <%= image_tag "icons/green-arrow.svg" %>
          <div>
             <%= Title.find_by_unique_key("summer_class_header_date_2")&.translate(locale) %>
          </div>
        </div>
      </div>

      <a href="<%= summer_class_path %>" class="regular"><span> <%= Title.find_by_unique_key("summer_class_header_cta")&.translate(locale) %><%= render 'shared/svg/arrow-right-circle' %></span></a>
    </div>
    <div  class="wrapper banner-title" style="background-image: url(<%= image_url 'webinar_header.png' %>)">
      <div>
        <%= Title.find_by_unique_key("summer_class_home_title_0")&.translate(locale) %>
      </div>
      <h1 style="letter-spacing: 1.5px;">
        <%= Title.find_by_unique_key("summer_class_home_title_1")&.translate(locale) %><br><%= Title.find_by_unique_key("summer_class_home_title_2")&.translate(locale) %>
      </h1>
      <div class="dates">
        <%= Title.find_by_unique_key("summer_class_home_title_3")&.translate(locale) %> <span style="width: 32px;border: 1px solid green;height: 0px;margin: 0.7rem;"></span> <%= Title.find_by_unique_key("summer_class_home_title_4")&.translate(locale) %>
      </div>
      <div class="subtitle">
      </div>
      <%= link_to preview_product_path(product.id), target:"_blank", class: "regular webinar-cta" do %>
        <span><%= Title.find_by_unique_key("summer_classes_btn_discover_it")&.translate(locale) %> <%= render 'shared/svg/arrow-right-circle' %></span>
      <% end %>
    </div>
    <div  class="wrapper banner-title" style="background-image: url(<%= image_url 'newbies_header.png' %>)">
      <h1>
        <%= Title.find_by_unique_key("newbies_title")&.translate(locale) %>
      </h1>
      <div class="dates">
        <%= Title.find_by_unique_key("newbies_title_subtitle")&.translate(locale) %>
      </div>
      <div class="subtitle">
       <%= Title.find_by_unique_key("newbies_title_description")&.translate(locale) %>
      </div>
      <a href="<%= newbies_path %>" class="regular"><span> <%= Title.find_by_unique_key("summer_classes_btn_discover_it")&.translate(locale) %> <%= image_tag 'icons/arrow-right-circle.svg' %></span></a>
    </div>
  </div>
</div>
<div class="key-figures">
  <h2><%= Title.find_by_unique_key("home_pages_key_figures")&.translate(locale) %></h2>
  <div class="figures">
    <div class="figure-card">
      <div class="figure-card-number" id="trainer-counter">
        6,100
      </div>
      <div class="figure-card-title">
        <%= Title.find_by_unique_key("home_pages_key_figures_missions")&.translate(locale) %>
      </div>
    </div>
    <div class="figure-card">
      <div class="figure-card-number" id="coaches-counter">
        80
      </div>
      <div class="figure-card-title">
        <%= Title.find_by_unique_key("home_pages_key_figures_coaches")&.translate(locale) %>
      </div>
    </div>
    <div class="figure-card" >
      <div class="figure-card-number" id="trainees-counter">
        13,071
      </div>
      <div class="figure-card-title">
        <%= Title.find_by_unique_key("home_pages_key_figures_trainees")&.translate(locale) %>
      </div>
    </div>
    <div class="figure-card">
      <div class="figure-card-number">
        <span id="satisfaction-counter">99</span>,8 %
      </div>
      <div class="figure-card-title">
        <%= Title.find_by_unique_key("home_pages_key_figures_satisfaction")&.translate(locale) %>
      </div>
    </div>
  </div>

</div>
<%= render 'shared/new_testimonials' %>
<%= render 'shared/new_partners' %>
