<%= render 'shared/navbar-fixed' %>
<% locale = I18n.locale %>

<div class="first-section" style="background-image: url(<%= image_url 'home.jpg' %>)">
  <div class="overlay"></div>
  <h1>
    Great things happen when people <span id="typed-home">communicate</span> well!
  </h1>
  <a href="#products" class="regular"><span>
    <%= Title.find_by_unique_key("shared_btn_how_can_we_help_you")&.translate(locale) %> <%= image_tag 'icons/arrow-down-circle.svg' %></span></a>
</div>
<div class="second-section">
  <div class="categories">
    <div class="category red">
      <div class="title">
        <%= Title.find_by_unique_key("home_page_languages_title")&.translate(locale) %>
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        <%= Title.find_by_unique_key("home_page_learn_more")&.translate(locale) %>
      </div>
    </div>
    <div class="category blue">
      <div class="title">
        <%= Title.find_by_unique_key("home_page_communication_title")&.translate(locale) %>
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        <%= Title.find_by_unique_key("home_page_learn_more")&.translate(locale) %>
      </div>
    </div>
    <div class="category yellow">
      <div class="title">
        <%= Title.find_by_unique_key("home_page_p_c_title")&.translate(locale) %>
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        <%= Title.find_by_unique_key("home_page_learn_more")&.translate(locale) %>
      </div>
    </div>
    <div class="category green-2">
      <div class="title">
        <%= Title.find_by_unique_key("home_page_leader_title")&.translate(locale) %>
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        <%= Title.find_by_unique_key("home_page_learn_more")&.translate(locale) %>
      </div>
    </div>
    <div class="category grey">
      <div class="title">
        <%= Title.find_by_unique_key("home_page_language_scan_title")&.translate(locale) %>
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        <%= Title.find_by_unique_key("home_page_learn_more")&.translate(locale) %>
      </div>
    </div>
    <div class="category green">
      <div class="title">
        <%= Title.find_by_unique_key("home_page_contact_title")&.translate(locale) %>
      </div>
      <div class="learn-more">
        <%= render 'shared/svg/arrow-right-circle' %>
        <%= Title.find_by_unique_key("home_page_learn_more")&.translate(locale) %>
      </div>
    </div>
  </div>
</div>
<div class="third-section">
  <h2><%= Title.find_by_unique_key("home_page_section_3_how_can_we_help_you")&.translate(locale) %></h2>
  <div class="third-section-content">
    <%= Title.find_by_unique_key("home_page_section_3_how_can_we_help_you_description")&.translate(locale) %>
  </div>
  <a href="#products" class="regular"><span><%= Title.find_by_unique_key("home_page_btn_about_us")&.translate(locale) %> <%= render 'shared/svg/arrow-right-circle' %></span></a>
</div>
<div class="fourth-section">
  <h2><%= Title.find_by_unique_key("home_page_section_4_whats_new")&.translate(locale) %></h2>
  <div  class="wrapper banner-title" style="background-image: url(<%= image_url 'bg_summerclass.jpg' %>)">
    <h1>
      <%= Title.find_by_unique_key("summer_classes_title")&.translate(locale) %>
    </h1>
    <div class="dates">
      <div>
        <%= Title.find_by_unique_key("summer_classes_start_date")&.translate(locale) %>
      </div>
      <%= image_tag "icons/green-arrow.svg" %>
      <div>
         <%= Title.find_by_unique_key("summer_classes_end_date")&.translate(locale) %>
      </div>
    </div>
    <div class="subtitle">
      <%= Title.find_by_unique_key("summer_classes_description")&.translate(locale) %>
    </div>
    <a href="#products" class="regular"><span> <%= Title.find_by_unique_key("summer_classes_btn_discover_it")&.translate(locale) %> <%= image_tag 'icons/arrow-down-circle.svg' %></span></a>
  </div>
</div>
<div class="key-figures">
  <h2><%= Title.find_by_unique_key("home_pages_key_figures")&.translate(locale) %></h2>
  <div class="figures">
    <div class="figure-card">
      <div class="figure-card-number" id="trainer-counter">
        6,100
      </div>
      <div class="figure-card-title">
        <%= Title.find_by_unique_key("home_pages_key_figures_missions")&.translate(locale) %>
      </div>
    </div>
    <div class="figure-card">
      <div class="figure-card-number" id="coaches-counter">
        80
      </div>
      <div class="figure-card-title">
        <%= Title.find_by_unique_key("home_pages_key_figures_coaches")&.translate(locale) %>
      </div>
    </div>
    <div class="figure-card" >
      <div class="figure-card-number" id="trainees-counter">
        13,071
      </div>
      <div class="figure-card-title">
        <%= Title.find_by_unique_key("home_pages_key_figures_trainees")&.translate(locale) %>
      </div>
    </div>
    <div class="figure-card">
      <div class="figure-card-number">
        <span id="satisfaction-counter">99</span>,8 %
      </div>
      <div class="figure-card-title">
        <%= Title.find_by_unique_key("home_pages_key_figures_satisfaction")&.translate(locale) %>
      </div>
    </div>
  </div>

</div>
<%= render 'shared/new_testimonials' %>
<%= render 'shared/new_partners' %>
