<%= render 'shared/new_navbar' %>
<% locale = I18n.locale %>
<div  class="wrapper banner-title" style="background-image: url(<%= image_url 'newbies_header.png' %>)">
  <h1>
    <%= Title.find_by_unique_key("newbies_title")&.translate(locale) %>
  </h1>
  <div class="dates">
    <%= Title.find_by_unique_key("newbies_title_subtitle")&.translate(locale) %>
  </div>
  <div class="subtitle">
   <%= Title.find_by_unique_key("newbies_title_description")&.translate(locale) %>
  </div>
  <a href="#products" class="regular"><span> <%= Title.find_by_unique_key("newbies_get_started")&.translate(locale) %> <%= image_tag 'icons/arrow-down-circle.svg' %></span></a>
</div>
<div class="container">
  <div class="concept">
    <h2><%= Title.find_by_unique_key("newbies_section_1_title")&.translate(locale) %></h2>
    <p>
      <%= Title.find_by_unique_key("newbies_section_1_description")&.translate(locale) %>
    </p>
    <div class="sub-concept">
      <%= Title.find_by_unique_key("newbies_section_1_subtitle")&.translate(locale) %>
    </div>
  </div>
</div>
<div class="grey-bg">
  <div class="newbies_events" id="products">
    <div class="newbies_event large">
      <div class="header">
        <div class="title">
          <%= Title.find_by_unique_key("newbies_product_1_header_title")&.translate(locale) %>
        </div>
        <div class="description">
          <%= Title.find_by_unique_key("newbies_product_1_header_description")&.translate(locale) %>
        </div>
      </div>
      <%= link_to preview_product_path(@product_1.id)do %>
        <div style="background-image: url(<%= image_url('newbies_Intercultural-team-collaboration.png') %>)" class="bg-image">
          <div class="category">
            <%= Title.find_by_unique_key("newbies_product_1_picture_category")&.translate(locale) %>
          </div>
          <div class="picture-title">
            <%= Title.find_by_unique_key("newbies_product_1_picture_title")&.translate(locale) %>
          </div>
          <span> <%= Title.find_by_unique_key("newbies_product_cta")&.translate(locale) %> <%= image_tag 'icons/arrow-right-circle-2.svg' %></span>
        </div>

      <% end %>
    </div>

    <div class="newbies_event large">
      <div class="header">
        <div class="title title-red">
          <%= Title.find_by_unique_key("newbies_product_2_header_title")&.translate(locale) %>
        </div>
        <div class="description">
          <%= Title.find_by_unique_key("newbies_product_2_header_description")&.translate(locale) %>
        </div>
      </div>

      <%= link_to preview_product_path(@product_2.id)do %>
        <div style="background-image: url(<%= image_url('newbies_Team-immersion.png') %>)" class="bg-image">
          <div class="category">
            <%= Title.find_by_unique_key("newbies_product_2_picture_category")&.translate(locale) %>
          </div>
          <div class="picture-title">
            <%= Title.find_by_unique_key("newbies_product_2_picture_title")&.translate(locale) %>
          </div>
          <span> <%= Title.find_by_unique_key("newbies_product_cta")&.translate(locale) %> <%= image_tag 'icons/arrow-right-circle-2.svg' %></span>
        </div>

      <% end %>
    </div>

    <div class="newbies_event large">
      <div class="header">
        <div class="title">
          <%= Title.find_by_unique_key("newbies_product_3_header_title")&.translate(locale) %>
        </div>
        <div class="description">
          <%= Title.find_by_unique_key("newbies_product_3_header_description")&.translate(locale) %>
        </div>
      </div>
      <%= link_to preview_product_path(@product_3.id)do %>
        <div style="background-image: url(<%= image_url('newbies_Cross-team-collaboration.png') %>)" class="bg-image">
          <div class="category">
            <%= Title.find_by_unique_key("newbies_product_3_picture_category")&.translate(locale) %>
          </div>
          <div class="picture-title">
            <%= Title.find_by_unique_key("newbies_product_3_picture_title")&.translate(locale) %>
          </div>
          <span> <%= Title.find_by_unique_key("newbies_product_cta")&.translate(locale) %> <%= image_tag 'icons/arrow-right-circle-2.svg' %></span>
        </div>

      <% end %>
    </div>
  </div>
  <div class="newbies_tips_section">
    <h3><%= Title.find_by_unique_key("newbies_tips_title")&.translate(locale) %></h3>
    <div class="newbies_tips">
      <div class="newbies_tip">
        <div class="number">1</div>
        <div class="text">
          <%= Title.find_by_unique_key("newbies_tip_1")&.translate(locale) %>
        </div>
      </div>
      <div class="newbies_tip">
        <div class="number">2</div>
        <div class="text">
          <%= Title.find_by_unique_key("newbies_tip_2")&.translate(locale) %>
        </div>
      </div>
      <div class="newbies_tip">
        <div class="number">3</div>
        <div class="text">
          <%= Title.find_by_unique_key("newbies_tip_3")&.translate(locale) %>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Items -->
<%= render 'shared/new_testimonials' %>
<div class="contact-banner">
  <div class="contact-us-text">
    <div class="header">
      <%= Title.find_by_unique_key("newbies_contact_banner_title")&.translate(locale) %>
    </div>
    <div class="content">
      <%= Title.find_by_unique_key("newbies_contact_banner_content")&.translate(locale) %>
    </div>
  </div>
  <% link_to contact_path, class:"contact-us-btn" do %>
    <%= Title.find_by_unique_key("shared_btn_contact_us")&.translate(locale) %>
    <%= render 'shared/svg/arrow-right-circle' %>
  <% end %>
</div>
