<div id="solutions" class="solutions-max-width">
    <%= render 'shared/navbar-fixed' %>
    <div id="engagement-solutions"class="yourworld-anchor"></div>
    <div id="communication-solutions"class="yourworld-anchor"></div>
    <div id="languages-solutions" class="yourworld-anchor"></div>
    <%= render 'shared/solutions/offers' %>
    <div class="offer-pages tabs" id="tabs">
      <div id="tabs-1" class="offer-page" style="display:none;">
        <div id="wrapper" class="divided">
          <%= render 'shared/solutions/engagement/spotlight' %>
          <%= render 'shared/solutions/engagement/products' %>
          <%= render 'shared/solutions/engagement/approach' %>
          <%= render 'shared/solutions/engagement/testimonials' %>
        </div>
      </div>
      <div id="tabs-2"  class="offer-page" style="display:none;">
        <div id="wrapper" class="divided">
          <%= render 'shared/solutions/communication/spotlight' %>
          <%= render 'shared/solutions/communication/products' %>
          <div class="communication-spotlight-desktop">
            <%= render 'shared/solutions/communication/approach-pyramid' %>
          </div>
          <div class="communication-spotlight-mobile">
            <%= render 'shared/solutions/communication/approach-pyramid-mobile' %>
          </div>
          <%= render 'shared/solutions/communication/testimonials' %>
        </div>
      </div>
      <div id="tabs-3" class="offer-page" style="display:none;">
        <div id="wrapper" class="divided">
          <%= render 'shared/solutions/languages/spotlight' %>
          <%= render 'shared/solutions/languages/products' %>
          <%= render 'shared/solutions/languages/approach-quadrant' %>
          <%= render 'shared/solutions/languages/testimonials' %>
          <%= render 'shared/solutions/languages/trainers' %>
        </div>
      </div>
      <%= render 'shared/solutions/lightbox' %>
    </div>
    <%= render 'shared/contact-counter' %>
</div>
