<div id="solutions" class="solutions-max-width">
    <%= render 'shared/navbar-fixed' %>
    <%= render 'shared/solutions/offers' %>
    <div class="offer-pages tabs" id="tabs">
      <div id="tabs-1" class="offer-page" style="display:none;">
        <div id="wrapper" class="divided">
          <%= render 'shared/solutions/engagement/spotlight' %>
          <%= render 'shared/solutions/engagement/products' %>
          <%= render 'shared/solutions/engagement/approach' %>
          <%= render 'shared/solutions/engagement/testimonials' %>
        </div>
      </div>
      <div id="tabs-2" class="offer-page" style="display:none;">
        <div id="wrapper" class="divided">
          <%= render 'shared/solutions/communication/spotlight' %>
          <%= render 'shared/solutions/communication/products' %>
          <%= render 'shared/solutions/communication/approach' %>
          <%= render 'shared/solutions/communication/testimonials' %>
        </div>
      </div>
      <div id="tabs-3" class="offer-page" style="display:none;">
        <div id="wrapper" class="divided">
          <%= render 'shared/solutions/languages/spotlight' %>
          <%= render 'shared/solutions/languages/products' %>
          <%= render 'shared/solutions/languages/approach' %>
          <%= render 'shared/solutions/languages/testimonials' %>
        </div>
      </div>
    </div>
    <%= render 'shared/contact-counter' %>
</div>
