<div id="values">
  <div id="wrapper" class="divided">
    <%= render 'shared/navbar-fixed' %>
    <%= render 'shared/values/valueone' %>
    <%= render 'shared/values/valuetwo' %>
    <%= render 'shared/values/valuethree' %>
    <%= render 'shared/values/valuefour' %>
    <%= render 'shared/contactform' %>
  </div>
</div>
