<div id="welcome">
  <!-- Wrapper -->
  <div id="wrapper" class="divided">
    <%= render 'shared/navbar' %>
    <%= render 'shared/welcome/banner' %>
    <%= render 'shared/welcome/yourworld' %>
    <%= render 'shared/welcome/testimonials' %>
    <%= render 'shared/contact-counter' %>
  </div>
  <!-- Wrapper -->
</div>
