<!-- Banner -->
  <section class="banner style1 orient-right content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2 class="margin-top"><%= t('about.spotlight.title') %></h2>
      <p class="major small-font"><%= t('about.spotlight.content') %></p>
      <ul class="actions stacked">
        <li><a href="#first" class="button large wide smooth-scroll">Meet the team</a></li>
      </ul>
    </div>
    <div class="image">
      <%= image_tag("about/spotlight02.jpg", :alt => "image") %>
    </div>
  </section>

  <!-- Items -->
  <section class="wrapper style1 align-center">
    <div class="inner">
      <h2><%= t('about.team.title') %></h2>
<!--       <p></p> -->
      <div class="items style1 medium onscroll-fade-in">
        <section>
          <div class="flip-profile-card">
            <div class="flip-profile-card-inner">
              <div class="flip-profile-card-front">
                <%= image_tag("about/mieke.jpg", :alt => "image", :class => "avatar-large") %>
                <h3><span class="atolo-green">Mieke </span> Van Oost</h3>
                <h4>Managing director Atolo Group</h4>
                <p>Lausanne & Brussel</p>
              </div>
              <div class="flip-profile-card-back">
                <h3>Mieke Van Oost</h3>
                <p class="small-font">Great things happen when people communicate well.
                This sentence embodies the belief of the ATOLO-team. A team with the conviction to deliver good results when it comes to the communication of you and your employees. May I introduce them to you?</p>
              </div>
            </div>
          </div>
          <ul class="icons">
            <li><a href="#" class="icon style2 fab fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon style2 fab fa-envelope"><span class="label">Email</span></a></li>
          </ul>
        </section>
        <section>
          <%= image_tag("about/oscar.jpg", :alt => "image", :class => "avatar-large") %>
          <h3><span class="atolo-green">Oscar </span> Vega</h3>
          <h4>Managing partner Atolo Group</h4>
          <p>Lausanne & Brussel</p>
          <ul class="icons">
            <li><a href="#" class="icon style2 fab fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon style2 fab fa-envelope"><span class="label">Email</span></a></li>
          </ul>
        </section>
        <section>
          <%= image_tag("about/david.jpg", :alt => "image", :class => "avatar-large") %>
          <h3><span class="atolo-green">David </span> Michel</h3>
          <h4>Managing director Atolo Switzerland</h4>
          <p>Lausanne & Brussel</p>
          <ul class="icons">
            <li><a href="#" class="icon style2 fab fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon style2 fab fa-envelope"><span class="label">Email</span></a></li>
          </ul>
        </section>
      </div>
    </div>
  </section>

