<!-- Team -->
<section class="banner style1 orient-right content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content no-padding">
    <h2 class="margin-top"><%= t('about.spotlight.title') %></h2>
    <p class="small-font align-justify"><%= t('about.spotlight.content') %></p>
    <ul class="actions stacked">
      <li><a href="#team-anchor" class="regular"><span><%= t('about.spotlight.meet') %> <%= image_tag 'icons/arrow-down-circle.svg' %></span></a></li>
    </ul>
  </div>
  <div class="image">
    <%= image_tag("about_team.png", :alt => "image", :style => "object-position: center;") %>
  </div>
</section>

<div id="team-anchor" class="team-anchor"></div>
<!-- Items team -->
<section id="members-section" class="wrapper style1 align-center">
  <div class="inner">
    <h2><%= t('about.team.title') %></h2>
    <h4><%= t('about.team.sub_title') %></h4>
    <div class="members">
      <% Member.all.order(first_name: :asc).each do |member| %>
        <section class="profile-card">
          <% if member.photo_url %>
            <%= image_tag(member.photo_url, :alt => "image", :class => "avatar-large") %>
          <% end %>
          <div class="profile-card-description">
            <%= eval("member.description_#{I18n.locale}") %>
          </div>
          <div class="profile-card-author">
            <h3><%= "#{member.first_name} #{member.last_name}" %></h3>
            <h4><%= member.role %></h4>
          </div>
          <div class="icons">
            <a class ="icon" href=<% member.linkedin %> target="blank"><i class="fab fa-linkedin-in"></i></a>
            <a class ="icon" href="mailto:<%= member.email %>"><i class="fas fa-envelope"></i></a>
          </div>
        </section>
      <% end %>
    </div>
  </div>
</section>

<div class="contact-banner">
  <div class="contact-us-text">
    <%= Title.find_by_unique_key("shared_curious_to_know_more")&.translate(locale) %>
  </div>
  <%= link_to contact_path, class:"contact-us-btn" do %>
    <%= Title.find_by_unique_key("shared_btn_contact_us")&.translate(locale) %>
    <%= render 'shared/svg/arrow-right-circle' %>
  <% end %>
</div>
