<!-- Team -->
  <section class="banner style1 orient-right content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2 class="margin-top"><%= t('about.spotlight.title') %></h2>
      <p class="small-font"><%= t('about.spotlight.content') %></p>
      <ul class="actions stacked">
        <li><a href="#team-anchor" class="button large wide smooth-scroll"><%= t('about.spotlight.meet') %></a></li>
      </ul>
    </div>
    <div class="image">
      <%= image_tag("about/spotlight02.jpg", :alt => "image") %>
    </div>
  </section>

  <div id="team-anchor" class="team-anchor"></div>
  <!-- Items team -->
  <section class="wrapper style1 align-center">
    <div class="inner">
      <h2><%= t('about.team.title') %></h2>

      <div class="items style1 medium onscroll-fade-in">
        <section>
          <div class="flip-profile-card">
            <div class="flip-profile-card-inner">
              <div class="flip-profile-card-front">
                <%= image_tag("about/mieke.jpg", :alt => "image", :class => "avatar-large") %>
                <h3><span class="atolo-green"><%= t('about.team.member_one.first_name') %></span> <%= t('about.team.member_one.second_name') %></h3>
                <h4><%= t('about.team.member_one.role') %></h4>
              </div>
              <div class="flip-profile-card-back">
                <h3><%= t('about.team.member_one.first_name') %> <%= t('about.team.member_one.second_name') %></h3>
                <p class="small-font profile-content-align"><%= t('about.team.member_one.text') %></p>
              </div>
            </div>
          </div>
          <ul class="icons">
            <li><a class ="icon style2" href="https://www.linkedin.com/company/atolo/"><i class="fab fa-linkedin" target="_blank"></i></a></li>
            <li><a class ="icon style2" href="mailto:welcome@atolo.eu"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </section>
        <section>
          <div class="flip-profile-card">
            <div class="flip-profile-card-inner">
              <div class="flip-profile-card-front">
                <%= image_tag("about/david.jpg", :alt => "image", :class => "avatar-large") %>
                <h3><span class="atolo-green"><%= t('about.team.member_two.first_name') %></span> <%= t('about.team.member_two.second_name') %></h3>
                <h4><%= t('about.team.member_two.role') %></h4>
              </div>
              <div class="flip-profile-card-back">
                <h3><%= t('about.team.member_two.first_name') %> <%= t('about.team.member_two.second_name') %></h3>
                <p class="small-font profile-content-align"><%= t('about.team.member_two.text') %></p>
              </div>
            </div>
          </div>
          <ul class="icons">
            <li><a class ="icon style2" href="https://www.linkedin.com/company/atolo/"><i class="fab fa-linkedin" target="_blank"></i></a></li>
            <li><a class ="icon style2" href="mailto:welcome@atolo.eu"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </section>
        <section>
          <div class="flip-profile-card">
            <div class="flip-profile-card-inner">
              <div class="flip-profile-card-front">
                <%= image_tag("about/oscar.jpg", :alt => "image", :class => "avatar-large") %>
                <h3><span class="atolo-green"><%= t('about.team.member_three.first_name') %></span> <%= t('about.team.member_three.second_name') %></h3>
                <h4><%= t('about.team.member_three.role') %></h4>
              </div>
              <div class="flip-profile-card-back">
                <h3><%= t('about.team.member_three.first_name') %> <%= t('about.team.member_three.second_name') %></h3>
                <p class="small-font profile-content-align"><%= t('about.team.member_three.text') %></p>
              </div>
            </div>
          </div>
          <ul class="icons">
            <li><a class ="icon style2" href="https://www.linkedin.com/company/atolo/"><i class="fab fa-linkedin" target="_blank"></i></a></li>
            <li><a class ="icon style2" href="mailto:welcome@atolo.eu"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </section>
        <section>
          <div class="flip-profile-card">
            <div class="flip-profile-card-inner">
              <div class="flip-profile-card-front">
                <%= image_tag("about/eva.jpg", :alt => "image", :class => "avatar-large") %>
                <h3><span class="atolo-green"><%= t('about.team.member_four.first_name') %></span> <%= t('about.team.member_four.second_name') %></h3>
                <h4><%= t('about.team.member_four.role') %></h4>
              </div>
              <div class="flip-profile-card-back">
                <h3><%= t('about.team.member_four.first_name') %> <%= t('about.team.member_four.second_name') %></h3>
                <p class="small-font profile-content-align"><%= t('about.team.member_four.text') %></p>
              </div>
            </div>
          </div>
          <ul class="icons">
            <li><a class ="icon style2" href="https://www.linkedin.com/company/atolo/"><i class="fab fa-linkedin" target="_blank"></i></a></li>
            <li><a class ="icon style2" href="mailto:welcome@atolo.eu"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </section>
        <section>
          <div class="flip-profile-card">
            <div class="flip-profile-card-inner">
              <div class="flip-profile-card-front">
                <%= image_tag("about/adeline.jpg", :alt => "image", :class => "avatar-large") %>
                <h3><span class="atolo-green"><%= t('about.team.member_five.first_name') %></span> <%= t('about.team.member_five.second_name') %></h3>
                <h4><%= t('about.team.member_five.role') %></h4>
              </div>
              <div class="flip-profile-card-back">
                <h3><%= t('about.team.member_five.first_name') %> <%= t('about.team.member_five.second_name') %></h3>
                <p class="small-font profile-content-align"><%= t('about.team.member_five.text') %></p>
              </div>
            </div>
          </div>
          <ul class="icons">
            <li><a class ="icon style2" href="https://www.linkedin.com/company/atolo/"><i class="fab fa-linkedin" target="_blank"></i></a></li>
            <li><a class ="icon style2" href="mailto:welcome@atolo.eu"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </section>
        <section>
          <div class="flip-profile-card">
            <div class="flip-profile-card-inner">
              <div class="flip-profile-card-front">
                <%= image_tag("about/maite.jpg", :alt => "image", :class => "avatar-large") %>
                <h3><span class="atolo-green"><%= t('about.team.member_six.first_name') %></span> <%= t('about.team.member_six.second_name') %></h3>
                <h4><%= t('about.team.member_six.role') %></h4>
              </div>
              <div class="flip-profile-card-back">
                <h3><%= t('about.team.member_six.first_name') %> <%= t('about.team.member_six.second_name') %></h3>
                <p class="small-font profile-content-align"><%= t('about.team.member_six.text') %></p>
              </div>
            </div>
          </div>
          <ul class="icons">
            <li><a class ="icon style2" href="https://www.linkedin.com/company/atolo/"><i class="fab fa-linkedin" target="_blank"></i></a></li>
            <li><a class ="icon style2" href="mailto:welcome@atolo.eu"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </section>
        <section>
          <div class="flip-profile-card">
            <div class="flip-profile-card-inner">
              <div class="flip-profile-card-front">
                <%= image_tag("about/sofie.jpg", :alt => "image", :class => "avatar-large") %>
                <h3><span class="atolo-green"><%= t('about.team.member_seven.first_name') %></span> <%= t('about.team.member_seven.second_name') %></h3>
                <h4><%= t('about.team.member_seven.role') %></h4>
              </div>
              <div class="flip-profile-card-back">
                <h3><%= t('about.team.member_seven.first_name') %> <%= t('about.team.member_seven.second_name') %></h3>
                <p class="small-font profile-content-align"><%= t('about.team.member_seven.text') %></p>
              </div>
            </div>
          </div>
          <ul class="icons">
            <li><a class ="icon style2" href="https://www.linkedin.com/company/atolo/"><i class="fab fa-linkedin" target="_blank"></i></a></li>
            <li><a class ="icon style2" href="mailto:welcome@atolo.eu"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </section>
        <section>
          <div class="flip-profile-card">
            <div class="flip-profile-card-inner">
              <div class="flip-profile-card-front">
                <%= image_tag("about/celine.jpg", :alt => "image", :class => "avatar-large") %>
                <h3><span class="atolo-green"><%= t('about.team.member_eight.first_name') %></span> <%= t('about.team.member_eight.second_name') %></h3>
                <h4><%= t('about.team.member_eight.role') %></h4>
              </div>
              <div class="flip-profile-card-back">
                <h3><%= t('about.team.member_eight.first_name') %> <%= t('about.team.member_eight.second_name') %></h3>
                <p class="small-font profile-content-align"><%= t('about.team.member_eight.text') %></p>
              </div>
            </div>
          </div>
          <ul class="icons">
            <li><a class ="icon style2" href="https://www.linkedin.com/company/atolo/"><i class="fab fa-linkedin" target="_blank"></i></a></li>
            <li><a class ="icon style2" href="mailto:welcome@atolo.eu"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </section>
        <section>
          <div class="flip-profile-card">
            <div class="flip-profile-card-inner">
              <div class="flip-profile-card-front">
                <%= image_tag("about/quentin.jpg", :alt => "image", :class => "avatar-large") %>
                <h3><span class="atolo-green"><%= t('about.team.member_nine.first_name') %></span> <%= t('about.team.member_nine.second_name') %></h3>
                <h4><%= t('about.team.member_nine.role') %></h4>
              </div>
              <div class="flip-profile-card-back">
                <h3><%= t('about.team.member_nine.first_name') %> <%= t('about.team.member_nine.second_name') %></h3>
                <p class="small-font profile-content-align"><%= t('about.team.member_nine.text') %></p>
              </div>
            </div>
          </div>
          <ul class="icons">
            <li><a class ="icon style2" href="https://www.linkedin.com/company/atolo/"><i class="fab fa-linkedin" target="_blank"></i></a></li>
            <li><a class ="icon style2" href="mailto:welcome@atolo.eu"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </section>
      </div>
    </div>
  </section>

