<!-- Spotlight -->
  <section class="spotlight style5 orient-center content-align-left image-position-center onscroll-image-fade-in color8">
    <div id="content-selector" class="content">
      <ul style="list-style: none;" class="selector-box">
        <li class="selector-one selector active"><i class="selector-bubble selector-bubble-one fas fa-circle"></i><h3><%= t('solutions.communication.approach.header_one') %></h3></li>
        <li class="selector-two selector"><i class="selector-bubble selector-bubble-two far fa-circle"></i><h3><%= t('solutions.communication.approach.header_two') %></h3></li>
        <li class="selector-three selector"><i class="selector-bubble selector-bubble-three far fa-circle"></i><h3><%= t('solutions.communication.approach.header_three') %></h3></li>
        <li class="selector-four selector"><i class="selector-bubble selector-bubble-four far fa-circle"></i><h3><%= t('solutions.communication.approach.header_four') %></h3></li>
        <li class="selector-five selector"><i class="selector-bubble selector-bubble-five far fa-circle"></i><h3><%= t('solutions.communication.approach.header_five') %></h3></li>
      </ul>
    </div>
    <div class="content small-font approaches">
      <div class="approach approach-one active onscroll-content-fade-in">
        <h2><%= t('solutions.communication.approach.header_one') %></h2>
        <div>
          <p><%= t('solutions.communication.approach.content_one') %></p>
        </div>
      </div>
      <div class="approach approach-two onscroll-content-fade-in" style="display: none;">
        <h2><%= t('solutions.communication.approach.header_two') %></h2>
        <div>
          <p><%= t('solutions.communication.approach.content_two') %></p>
        </div>
      </div>
      <div class="approach approach-three onscroll-content-fade-in" style="display: none;">
        <h2><%= t('solutions.communication.approach.header_three') %></h2>
        <div>
          <p><%= t('solutions.communication.approach.content_three') %></p>
        </div>
      </div>
      <div class="approach approach-four onscroll-content-fade-in" style="display: none;">
        <h2><%= t('solutions.communication.approach.header_four') %></h2>
        <div>
          <p><%= t('solutions.communication.approach.content_four') %></p>
        </div>
      </div>
      <div class="approach approach-five onscroll-content-fade-in" style="display: none;">
        <h2><%= t('solutions.communication.approach.header_five') %></h2>
        <div>
          <p><%= t('solutions.communication.approach.content_five') %></p>
        </div>
      </div>
      <ul class="mobile-content-selector" style="list-style: none;">
        <li class="mobile-selector mobile-selector-one active"><i class="far fa-circle"></i></li>
        <li class="mobile-selector mobile-selector-two"><i class="far fa-circle"></i></li>
        <li class="mobile-selector mobile-selector-three"><i class="far fa-circle"></i></li>
        <li class="mobile-selector mobile-selector-four"><i class="far fa-circle"></i></li>
        <li class="mobile-selector mobile-selector-five"><i class="far fa-circle"></i></li>
    </div>
      </ul>
    <div class="image approach-background">
      <%= image_tag("communication/communication08.jpg", :alt => "image", :class => "approach-background") %>
    </div>
  </section>
