  <section id="products" class="wrapper style1 align-center">
    <div class="inner">
      <h2><%= t('solutions.communication.approach.introduction_title') %></h2>
      <p><%= t('solutions.communication.approach.introduction_text') %></p>
    </div>
  </section>

<!-- Spotlight -->
  <section class="spotlight style5 orient-center content-align-left image-position-center onscroll-image-fade-in color8">
    <div id="content-selector" class="content">
      <ul style="list-style: none;" class="selector-box">
        <li class="communication-selector-one communication-selector active"><i class="communication-selector-bubble communication-selector-bubble-one fas fa-circle"></i><h3><%= t('solutions.communication.approach.header_one') %></h3></li>
        <li class="communication-selector-two communication-selector"><i class="communication-selector-bubble communication-selector-bubble-two far fa-circle"></i><h3><%= t('solutions.communication.approach.header_two') %></h3></li>
        <li class="communication-selector-three communication-selector"><i class="communication-selector-bubble communication-selector-bubble-three far fa-circle"></i><h3><%= t('solutions.communication.approach.header_three') %></h3></li>
        <li class="communication-selector-four communication-selector"><i class="communication-selector-bubble communication-selector-bubble-four far fa-circle"></i><h3><%= t('solutions.communication.approach.header_four') %></h3></li>
      </ul>
    </div>
    <div class="content small-font approaches">
      <div class="communication-approach communication-approach-one active onscroll-content-fade-in">
        <h2><%= t('solutions.communication.approach.header_one') %></h2>
        <div>
          <p><strong><%= t('solutions.communication.approach.content_one_a') %></strong><%= t('solutions.communication.approach.content_one_b') %></p>
        </div>
      </div>
      <div class="communication-approach communication-approach-two onscroll-content-fade-in" style="display: none;">
        <h2><%= t('solutions.communication.approach.header_two') %></h2>
        <div>
          <p><strong><%= t('solutions.communication.approach.content_two_a') %></strong><%= t('solutions.communication.approach.content_two_b') %></p>
        </div>
      </div>
      <div class="communication-approach communication-approach-three onscroll-content-fade-in" style="display: none;">
        <h2><%= t('solutions.communication.approach.header_three') %></h2>
        <div>
          <p><strong><%= t('solutions.communication.approach.content_three_a') %></strong><%= t('solutions.communication.approach.content_three_b') %></p>
        </div>
      </div>
      <div class="communication-approach communication-approach-four onscroll-content-fade-in" style="display: none;">
        <h2><%= t('solutions.communication.approach.header_four') %></h2>
        <div>
          <p><strong><%= t('solutions.communication.approach.content_four_a') %></strong><%= t('solutions.communication.approach.content_four_b') %></p>
        </div>
      </div>
      <ul class="mobile-content-selector" style="list-style: none;">
        <li class="communication-mobile-selector communication-mobile-selector-one active"><i class="far fa-circle"></i></li>
        <li class="communication-mobile-selector communication-mobile-selector-two"><i class="far fa-circle"></i></li>
        <li class="communication-mobile-selector communication-mobile-selector-three"><i class="far fa-circle"></i></li>
        <li class="communication-mobile-selector communication-mobile-selector-four"><i class="far fa-circle"></i></li>
    </div>
      </ul>
    <div class="image approach-background">
      <%= image_tag("communication/communication08.jpg", :alt => "image", :class => "approach-background") %>
    </div>
  </section>
