  <section id="approach" class="wrapper style1 align-center">
    <div class="inner">
      <h2><%= t('solutions.communication.approach.introduction_title') %></h2>
      <p class="no-bottom-margin"><%= t('solutions.communication.approach.introduction_text') %></p>
    </div>
  </section>

  <section class="banner style1 orient-right content-align-left image-position-right onload-image-fade-in onload-content-fade-right no-top-page-break padding-bottom">
    <div class="content">
        <h3 class="margin-top pyramid-selector"><%= t('solutions.communication.approach.header_one') %></h3>
      <div id="pyramid-content-one" class="pyramid-content">
        <p class="small-font">
          <%= t('solutions.communication.approach.content_one_a') %>
        </p>
        <p class="x-small-font align-justify"><%= t('solutions.communication.approach.content_one_b') %></p>
      </div>
        <h3 class="margin-top pyramid-selector"><%= t('solutions.communication.approach.header_two') %></h3>
      <div id="pyramid-content-two" class="pyramid-content" style="display: none;">
        <p class="small-font">
          <%= t('solutions.communication.approach.content_two_a') %>
        </p>
        <p class="x-small-font align-justify"><%= t('solutions.communication.approach.content_two_b') %></p>
      </div>
        <h3 class="margin-top pyramid-selector"><%= t('solutions.communication.approach.header_three') %></h3>
      <div id="pyramid-content-three" class="pyramid-content" style="display: none;">
        <p class="small-font">
          <%= t('solutions.communication.approach.content_three_a') %>
        </p>
        <p class="x-small-font align-justify"><%= t('solutions.communication.approach.content_three_b') %></p>
      </div>
    </div>
    <div class="pyramid-container">
      <div id="pyramid-selector-one" class="pyramid-selector pyramid-top-container active">
        <h3 class="pyramid-title"><%= t('solutions.communication.approach.pyramid_title_one') %></h3>
      </div>
      <div class="pyramid-base-container">
        <div id="pyramid-selector-two" class="pyramid-selector pyramid-base-element-one">
          <h3 class="pyramid-title"><%= t('solutions.communication.approach.pyramid_title_two') %></h3>
        </div>
        <div id="pyramid-selector-three" class="pyramid-selector pyramid-base-element-two">
          <h3 class="pyramid-title"><%= t('solutions.communication.approach.pyramid_title_three') %></h3>
        </div>
      </div>
    </div>
    <div class="medium-pyramid-container">
      <div class="medium-pyramid-element-one medium-pyramid-selector active" id="medium-pyramid-selector-one">
        <h3 class="pyramid-title"><%= t('solutions.communication.approach.pyramid_title_one') %></h3>
      </div>
      <div class="medium-pyramid-element-two medium-pyramid-selector" id="medium-pyramid-selector-two" >
        <h3 class="pyramid-title"><%= t('solutions.communication.approach.pyramid_title_two') %></h3>
      </div>
      <div class="medium-pyramid-element-three medium-pyramid-selector" id="medium-pyramid-selector-three" >
        <h3 class="pyramid-title"><%= t('solutions.communication.approach.pyramid_title_three') %></h3>
      </div>
    </div>
  </section>
