<section id="approach" class="wrapper style1 align-center">
  <div class="inner">
    <h2><%= t('solutions.communication.approach.introduction_title') %></h2>
    <p class=""><%= t('solutions.communication.approach.introduction_text') %></p>
  </div>
</section>

<div id="value-one-anchor" class="value-one-anchor"></div>
<!-- Spotlight -->
<section id="value-one" class="spotlight style1 orient-left content-align-left image-position-center  onload-image-fade-in onload-content-fade-right" id="first">
  <div class="content">
    <h3 class=""><%= t('solutions.communication.approach.header_one') %></h3>
    <p class="major small-font">
      <%= t('solutions.communication.approach.content_one_a') %>
    </p>
    <p class="small-font align-justify"><%= t('solutions.communication.approach.content_one_b') %></p>
  </div>
  <div class="image">

    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559226265/communication-pyramid01.jpg", :alt => "image") %>
  </div>
</section>

<div id="value-two-anchor" class="value-two-anchor"></div>
<!-- Spotlight -->
<section id="value-two" class="spotlight style1 orient-left content-align-left image-position-center  onload-image-fade-in onload-content-fade-right" id="first">
  <div class="content">
    <h3 class=""><%= t('solutions.communication.approach.header_two') %></h3>
    <p class="major small-font">
      <%= t('solutions.communication.approach.content_two_a') %>
    </p>
    <p class="small-font align-justify"><%= t('solutions.communication.approach.content_two_b') %></p>
  </div>
  <div class="image">

    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559226265/communication-pyramid02.jpg", :alt => "image") %>
  </div>
</section>

<div id="value-three-anchor" class="value-three-anchor"></div>
<!-- Spotlight -->
<section id="value-three" class="spotlight style1 orient-left content-align-left image-position-center  onload-image-fade-in onload-content-fade-right" id="first">
  <div class="content">
    <h3 class=""><%= t('solutions.communication.approach.header_three') %></h3>
    <p class="major small-font">
      <%= t('solutions.communication.approach.content_three_a') %>
    </p>
    <p class="small-font align-justify"><%= t('solutions.communication.approach.content_three_b') %></p>
  </div>
  <div class="image">

    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559226265/communication-pyramid03.jpg", :alt => "image") %>
  </div>
</section>
