  <section id="approach" class="wrapper style1">
    <div class="inner">

      <div class="quadrant-container">
        <div class="quadrant-visual-container">
          <%= image_tag "approach_#{@key}.png" %>
        </div>
        <div class="quadrant-text-container">
          <h2><%= Title.find_by_unique_key("pillar_our_approach")&.translate(locale) %></h2>
          <div class="description">
            <%= Title.find_by_unique_key("pillar_#{@key}_approach_description")&.translate(locale) %>
          </div>
          <ul class="quadrant-text">
            <li>
              <div id="quadrant-selector-one" class="quadrant-selector quadrant-toggle-holder active">
                <i id="quadrant-toggle-one" class="fas fa-chevron-right quadrant-toggle"></i>
                <h3><%= Title.find_by_unique_key("pillar_#{@key}_approach_title_1")&.translate(locale) %></h3>
              </div>
              <div id="quadrant-content-one" class="quadrant-content">
                <p class="sentence"><%= Title.find_by_unique_key("pillar_#{@key}_approach_sentence_1")&.translate(locale) %></p>
                <p><%= Title.find_by_unique_key("pillar_#{@key}_approach_description_1")&.translate(locale) %></p>
              </div>
            </li>
            <li>
              <div id="quadrant-selector-two" class="quadrant-selector quadrant-toggle-holder"><i  id="quadrant-toggle-two" class="fas fa-chevron-down quadrant-toggle"></i>
                <h3><%= Title.find_by_unique_key("pillar_#{@key}_approach_title_2")&.translate(locale) %></h3>
              </div>
              <div id="quadrant-content-two" class="quadrant-content" style="display:none;">
                <p class="sentence"><%= Title.find_by_unique_key("pillar_#{@key}_approach_sentence_2")&.translate(locale) %></p><p><%= Title.find_by_unique_key("pillar_#{@key}_approach_description_2")&.translate(locale) %></p>
              </div>
            </li>
            <li>
              <div id="quadrant-selector-three" class="quadrant-selector quadrant-toggle-holder"><i  id="quadrant-toggle-three" class="fas fa-chevron-down quadrant-toggle"></i>
                <h3><%= Title.find_by_unique_key("pillar_#{@key}_approach_title_3")&.translate(locale) %></h3>
              </div>
              <div id="quadrant-content-three" class="quadrant-content" style="display:none;">
                <p class="sentence"><%= Title.find_by_unique_key("pillar_#{@key}_approach_sentence_3")&.translate(locale) %></p><p><%= Title.find_by_unique_key("pillar_#{@key}_approach_description_3")&.translate(locale) %></p>
              </div>
            </li>
            <% if Title.find_by_unique_key("pillar_#{@key}_approach_title_4") %>
              <li>
                <div id="quadrant-selector-four" class="quadrant-selector quadrant-toggle-holder"><i  id="quadrant-toggle-four" class="fas fa-chevron-down quadrant-toggle"></i>
                  <h3><%= Title.find_by_unique_key("pillar_#{@key}_approach_title_4")&.translate(locale) %></h3>
                </div>
                <div id="quadrant-content-four" class="quadrant-content" style="display:none;">
                  <p class="sentence"><%= Title.find_by_unique_key("pillar_#{@key}_approach_sentence_4")&.translate(locale) %></p><p><%= Title.find_by_unique_key("pillar_#{@key}_approach_description_4")&.translate(locale) %></p>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </section>
