  <div id="communication-products-anchor" class="communication-products-anchor"></div>
<!-- Gallery -->
  <section id="products" class="wrapper style1 align-center">
    <div class="inner">
      <h2><%= t('solutions.communication.products.title') %></h2>
    </div>

    <!-- Gallery -->
      <div id="product-gallery" class="gallery style2 large lightbox onscroll-fade-in">
        <% @communication_products. each do |product| %>

          <article class="product-card-margin">
            <div class="lightbox-link" id= "lightbox-link-communication">
              <a href="#" data-featherlight="#my-lightbox-<%= product.id %>" class="image products data-gallery">
                <%= cl_image_tag product.photo, crop: :fill, :alt => "image", :class => "product-image" %>
              </a>
            </div>
            <div class="caption">
              <% if I18n.locale == :fr %>
                <h3 class=""><%= product.name_fr %></h3>
              <% elsif I18n.locale == :de %>
                <h3 class=""><%= product.name_de ? product.name_de : product.name_en %></h3>
              <% elsif I18n.locale == :nl %>
                <h3 class=""><%= product.name_nl %></h3>
              <% else%>
                <h3 class=""><%= product.name_en %></h3>
              <% end %>
            </div>
          </article>

        <% end %>
      </div>
      <div class="inner"></div>
  </section>


