<!-- Spotlight -->
<section class="spotlight style2 orient-right content-align-left image-position-center onload-image-fade-in onload-content-fade-right" id="first">
  <div class="content">
    <h2><%= t('solutions.communication.spotlight.header') %></h2>
    <p class="align-justify"><%= t('solutions.communication.spotlight.content') %></p>
    <h4><%= t('solutions.communication.spotlight.online_text') %></h4>
    <ul class="actions stacked text-align-center">
      <li>
        <%= link_to t('solutions.communication.spotlight.contact_button'), contact_path, :class => "button primary"%>
      </li>
<!--       <li>
        <div class="chevron-container">
          <a href="#communication-products-anchor" class="smooth-scroll chevron-holder chevron-grey">
          <i class="fas fa-chevron-down"></i>
          </a>
        </div>
      </li> -->
    </ul>
  </div>
  <div class="image">
    <%#= image_tag("https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?ixlib=rb-1.2.1&auto=format&fit=crop&w=879&q=80", :alt => "image") %>
    <%#= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1561639316/Atolo-51.jpg", :alt => "image") %>
    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1561639316/Atolo-51.jpg", :alt => "image") %>
  </div>
</section>
