<!-- Items -->
  <section id="testimonials" class="wrapper style1 align-center">
    <div class="inner">
      <h2><%= t('solutions.communication.testimonials.title') %></h2>
      <div class="owl-carousel owl-theme testimonial-cards onload-fade-in">
          <section class="testimonial-card">
            <%= image_tag("logos/deutsche.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.communication.testimonials.name_one') %></h3>
            <h4><%= t('solutions.communication.testimonials.company_one') %></h4>
            <p class="small-font">"<%= t('solutions.communication.testimonials.content_one') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("logos/atos.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.communication.testimonials.name_two') %></h3>
            <h4><%= t('solutions.communication.testimonials.company_two') %></h4>
            <p class="small-font">"<%= t('solutions.communication.testimonials.content_two') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("logos/lhoist.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.communication.testimonials.name_three') %></h3>
            <h4><%= t('solutions.communication.testimonials.company_three') %></h4>
            <p class="small-font">"<%= t('solutions.communication.testimonials.content_three') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("logos/schneider.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.communication.testimonials.name_four') %></h3>
            <h4><%= t('solutions.communication.testimonials.company_four') %></h4>
            <p class="small-font">"<%= t('solutions.communication.testimonials.content_four') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("logos/marsh.jpg", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.communication.testimonials.name_five') %></h3>
            <h4><%= t('solutions.communication.testimonials.company_five') %></h4>
            <p class="small-font">"<%= t('solutions.communication.testimonials.content_five') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("logos/johncrane.png", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.communication.testimonials.name_six') %></h3>
            <h4><%= t('solutions.communication.testimonials.company_six') %></h4>
            <p class="small-font">"<%= t('solutions.communication.testimonials.content_six') %>"</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("logos/worldline.jpg", :alt => "image", :class => "testimonial-logo") %>
            <h3><%= t('solutions.communication.testimonials.name_seven') %></h3>
            <h4><%= t('solutions.communication.testimonials.company_seven') %></h4>
            <p class="small-font">"<%= t('solutions.communication.testimonials.content_seven') %>"</p>
          </section>
      </div>
    </div>
  </section>
