<%= render 'shared/new_navbar' %>
<% locale = I18n.locale %>
<div class="<%= @category_color %>">
  <div class="wrapper" style="background-image: url(<%= @product.photo_url %>)">
    <% if [259, 260].include?(@product.id) %>
      <h2 style="color:white;"><%= Title.find_by_unique_key("summer_class_language_tag")&.translate(locale) %></h2>
    <% elsif [261].include?(@product.id) %>
      <h2 style="color:white;"><%= Title.find_by_unique_key("summer_class_communication_tag")&.translate(locale) %></h2>
    <% elsif [262].include?(@product.id) %>
      <h2 style="color:white;"><%= Title.find_by_unique_key("summer_class_leadership_tag")&.translate(locale) %></h2>
    <% end %>

    <h1 style="text-align:center;"><%= eval("@product.name_#{locale}") %></h1>
  </div>
  <div class="second-section">
    <div class="summer_description" style="padding-top: 110px;margin: auto;max-width: 600px;text-align: center;">
      <%= eval("@product.summer_rich_description_2_#{locale}") %>
    </div>
     <div class="container communication" style="padding-bottom:150px;">
       <div class="row practicalities-title" style="padding-top: 100px;">
        <% title = Title.find_by_unique_key("product_key_take_away") %>
         <h2><%= title&.translate(locale) %></h2>
       </div>
       <% practicalities_count = @product.practicalities_count(locale).zero? ? 5 : @product.practicalities_count(locale) %>
       <% col = @product.divisible_by_3?(locale) ? "col-md-4" : "col-md-6"  %>
       <div class="row practicalities">
        <% (1..practicalities_count).each do |number| %>
          <% if eval("@product.practicality_#{number}_#{locale}") %>
            <div class="<%= (number == practicalities_count && number == 5) ? "offset-md-3 #{col}" : col %>">
              <div class="practicalities-card">
                <%= eval("@product.practicality_#{number}_#{locale}") %>
                <% if false %>
                  Improve understanding of your audience’s needs.
                <% end %>
              </div>
            </div>
          <% end %>
         <% end %>
       </div>
       <div class="">
        <div class="row practicalities">
          <div class="col-md-4  text-center">
            <div class="target-card">
            <div class="icon">
              <%= render 'shared/svg/target' %>
            </div>
            <% target = Title.find_by_unique_key("product_target_group") %>
            <h3><%= target&.translate(locale) %></h3>
            <div class="target-card-content"><%= eval("@product.target_group_#{locale}") %></div>
          </div>
         </div>
         <div class="col-md-4 text-center">
          <div class="target-card">
            <div class="icon">
              <%= render 'shared/svg/writing' %>
            </div>
            <% format = Title.find_by_unique_key("product_format") %>
            <h3><%= format&.translate(locale) %></h3>
            <div class="target-card-content"><%= eval("@product.format_#{locale}") %></div>
          </div>
         </div>
         <div class="col-md-4 text-center">
           <div class="target-card">
            <div class="icon">
              <%= render 'shared/svg/languages' %>
            </div>
            <% languages = Title.find_by_unique_key("product_languages") %>
            <h3><%= languages&.translate(locale) %></h3>
            <div class="target-card-content"><%= eval("@product.languages_#{locale}") %></div>
          </div>
         </div>
       </div>
      </div>
    </div>
  </div>
  <section id="discount" class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in onload-content-fade-right">
    <div class="content">
      <div style="font-size:16px;font-weight: 700;"><%= Title.find_by_unique_key("summer_class_discount_title_1")&.translate(locale) %></div>
      <h2 style="font-size:40px;"><%= Title.find_by_unique_key("summer_class_discount_title_2")&.translate(locale) %></h2>
      <div style="font-size:18px;"><%= Title.find_by_unique_key("summer_class_discount_title_3")&.translate(locale) %></div>
    </div>
    <div class="image">

      <%= image_tag("summer_discount_2.jpg", :alt => "image") %>
    </div>
  </section>
  <section id="main-contact-form" class="banner style5 orient-right content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right" style="align-items: center;">
    <div class="content main-contact-form-container">
      <h3 style="text-align: start;"><%= Title.find_by_unique_key("summer_class_form_title_1")&.translate(locale) %><br>
        <%= Title.find_by_unique_key("summer_class_form_title_2")&.translate(locale) %></h3>
      <p>
        <%= Title.find_by_unique_key("summer_class_form_title_3")&.translate(locale) %> <a href="mailto:welcome@atolo.eu" style="color: #1083C4;">welcome@atolo.eu</a><br>
        <%= Title.find_by_unique_key("summer_class_form_title_4")&.translate(locale) %> <a href="tel:+32 2 609 50 90" style="color: #1083C4;">+32 2 609 50 90</a>
      </p>
      <%= render 'shared/contact-form' %>
    </div>
  </section>
</div>

