<%= render 'shared/new_navbar' %>
<% locale = I18n.locale %>
<div class="wrapper" style="background-image: url(<%= @product.photo_url %>)">
  <h2 class="<%= 'pink-title' if [222, 221].include?(@product.id) %>"><%= eval("@product.subtitle_#{locale}") %></h2>
  <h1><%= eval("@product.name_#{locale}") %></h1>
</div>
<div class="container <%= 'pink-container' if [222, 221].include?(@product.id) %>" >
  <div class="description content">
    <%= eval("@product.rich_long_description_#{locale}") %>
  </div>
  <h3><%= t('events.products.key_takeaways') %></h3>
  <div class="content">
    <%= eval("@product.rich_learnings_#{locale}") %>
  </div>
  <h3><%= t('events.products.practicalities') %></h3>
  <div class="content">
    <%= eval("@product.rich_practice_#{locale}")%>
  </div>
</div>
<section id="main-contact-form" class="banner style5 orient-right content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content main-contact-form-container  <%= 'pink-container' if [222, 221].include?(@product.id)%>">
    <h3><%= simple_format(eval("@product.long_cta_#{locale}"))%></h3>
    <%= render 'shared/contact-form' %>
  </div>
  <div class="image image-lel">
    <%#= image_tag("people/people2.jpg", :alt => "image background-gradient") %>
  </div>
</section>

