<%= render 'shared/navbar-fixed' %>
<% locale = I18n.locale %>
<% locale = 'en' if locale == 'nl' || locale == 'de' %>
<div class="wrapper" style="background-image: url(<%= @product.photo_url %>)">
  <h1><%= eval("@product.name_#{locale}") %></h1>
</div>
<div class="container">
  <div class="description">
    <%= simple_format(eval("@product.description_#{locale}")) %>
  </div>
  <h3><%= t('products.key_takeways') %></h3>
  <div>
    <%= simple_format(eval("@product.learnings_#{locale}")) %>
  </div>
  <h3><%= t('products.practicalities') %></h3>
  <div>
    <%= simple_format(eval("@product.practice_#{locale}"))%>
  </div>
</div>
<%= render 'shared/contact' %>
