<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148457376-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-148457376-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="alternate" hreflang="en" href="https://www.atolo.eu/">
    <link rel="alternate" hreflang="fr" href="https://www.atolo.eu/fr">
    <link rel="alternate" hreflang="de-de" href="https://www.atolo.eu/de">
    <link rel="alternate" hreflang="de-ch" href="https://www.atolo.ch/de">
    <link rel="alternate" hreflang="de-at" href="https://www.atolo.eu/de">
    <link rel="alternate" hreflang="nl" href="https://www.atolo.eu/nl">
    <link rel="alternate" hreflang="nl-be" href="https://www.atolo.eu/nl">
    <link rel="alternate" hreflang="fr-be" href="https://www.atolo.eu/fr">
    <link rel="alternate" hreflang="fr-ch" href="https://www.atolo.ch/fr">
    <title>Atolo</title>
    <%= favicon_link_tag 'atolo-logo/atolo-new-a.png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <% if @product %>
      <meta property="og:image" content=<%= @product.photo_url %> />
      <meta property="og:description" content=<%= @product.rich_description_en %> />
      <meta property="og:title" content=<%= @product.name_en %> />
    <% end %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %>
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body class="is-preload" id="<%= "#{controller_name}_#{action_name}" %>">
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
