<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="alternate" hreflang="en" href="/">
    <link rel="alternate" hreflang="fr" href="/fr">
    <link rel="alternate" hreflang="de-DE" href="/de">
    <link rel="alternate" hreflang="de-CH" href="/de">
    <link rel="alternate" hreflang="de-AT" href="/de">
    <link rel="alternate" hreflang="nl" href="/nl">
    <link rel="alternate" hreflang="nl-be" href="/nl">
    <link rel="alternate" hreflang="fr-be" href="/fr">
    <link rel="alternate" hreflang="fr-CH" href="/fr">
    <title>Atolo</title>
    <%= favicon_link_tag 'atolo-logo/atolo-a.png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %>
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body class="is-preload">
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
